/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * PaxPamirEditionTwo implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * paxpamireditiontwo.css
 *
 * PaxPamirEditionTwo stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (paxpamireditiontwo_paxpamireditiontwo.tpl), and to HTML elements you create dynamically
    (in paxpamireditiontwo.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

:root {
    --afghan-color: #5fc89e;
    --british-color: #eb97d1;
    --russian-color: #f3f35a;
    --selectable-color: #DE9043;
    --selected-color: #512D75;
  }

html {
    background: url("") rgb(192, 192, 192);
}

.player-board {
    background-color: antiquewhite;
}

#pp_play_area {
    grid-gap: 15px;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, 1000px);
    grid-template-rows: repeat(auto-fill, 581px 241px 492px);
    justify-content: center;
    position: relative;
    text-align: center;
    top: 5px;
}

/* ------- MAP AND REGIONS ------- */

#pp_map {
    background-image: url('img/temp/paxpamir_board.jpg');
    background-size: 1000px 581px;
    background-repeat: no-repeat;
    grid-column: 1 / span 1;
    grid-row: span 1;
    height: 581px;
    position: relative;
    width: 1000px;
    box-shadow: rgb(0 0 0) 2px 2px 8px;
}

.pp_location {
    position: absolute;
    /* border: 2px solid blue; */
}

.pp_favored_suit {
    height: 54px;
    width: 26px;
    position: absolute;
    /* border: 2px solid blue; */
    box-sizing: border-box;
}

.pp_favored_suit_marker {
    height: 50px;
    width: 22px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('img/favoured_suit_marker.svg');
}


#pp_favored_suit_political {
    top: 116px;
    left: 42px;
}

#pp_favored_suit_intelligence {
    top: 197px;
    left: 42px;
}

#pp_favored_suit_economic {
    top: 278px;
    left: 42px;
}

#pp_favored_suit_military {
    top: 361px;
    left: 42px;
}

.pp_vp_track {
    height: 50px;
    width: 50px;
    position: absolute;
    /* box-shadow: 0px 0px 0px 4px blue !important; */
}

.pp_position_ruler_token {
    height: 54px;
    width: 50px;
    position: absolute;
    /* box-shadow: 0px 0px 0px 4px blue !important; */
}

#pp_position_ruler_token_herat {
    top: 323px;
    left: 394px;
}

#pp_position_ruler_token_kabul {
    top: 120px;
    left: 594px;
}

#pp_position_ruler_token_kandahar {
    top: 373px;
    left: 648px;
}

#pp_position_ruler_token_persia {
    top: 363px;
    left: 163px;
}

#pp_position_ruler_token_punjab {
    top: 252px;
    left: 831px;
}

#pp_position_ruler_token_transcaspia {
    top: 110px;
    left: 207px;
}

.pp_ruler_token {
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    /* box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4); */
}

.pp_ruler_token.pp_herat {
    background-image: url('img/ruler_token_herat.svg');
}

.pp_ruler_token.pp_kabul {
    background-image: url('img/ruler_token_kabul.svg');
}

.pp_ruler_token.pp_kandahar {
    background-image: url('img/ruler_token_kandahar.svg');
}

.pp_ruler_token.pp_persia {
    background-image: url('img/ruler_token_persia.svg');
}

.pp_ruler_token.pp_punjab {
    background-image: url('img/ruler_token_punjab.svg');
}

.pp_ruler_token.pp_transcaspia {
    background-image: url('img/ruler_token_transcaspia.svg');
}


#pp_herat_armies {
    top: 380px;
    left: 320px;
    height: 80px;
    width: 190px;
}

#pp_kabul_armies {
    top: 180px;
    left: 520px;
    height: 40px;
    width: 190px;
}

#pp_kandahar_armies {
    top: 420px;
    left: 580px;
    height: 40px;
    width: 160px;
}

#pp_persia_armies {
    top: 420px;
    left: 100px;
    height: 60px;
    width: 160px;
}

#pp_punjab_armies {
    top: 300px;
    left: 800px;
    height: 160px;
    width: 100px;
}

#pp_transcaspia_armies {
    top: 220px;
    left: 100px;
    height: 40px;
    width: 190px;
}


#pp_herat_tribes {
    top: 320px;
    left: 320px;
    height: 40px;
    width: 190px;
}

#pp_kabul_tribes {
    top: 100px;
    left: 520px;
    height: 40px;
    width: 190px;
}

#pp_kandahar_tribes {
    top: 360px;
    left: 580px;
    height: 40px;
    width: 160px;
}

#pp_persia_tribes {
    top: 360px;
    left: 100px;
    height: 40px;
    width: 160px;
}

#pp_punjab_tribes {
    top: 240px;
    left: 800px;
    height: 40px;
    width: 100px;
}

#pp_transcaspia_tribes {
    top: 120px;
    left: 100px;
    height: 40px;
    width: 190px;
}

/* Borders */
#pp_herat_kabul_border {
    top: 230px;
    left: 420px;
    height: 80px;
    width: 110px;
}

#pp_herat_kandahar_border {
    top: 340px;
    left: 525px;
    height: 140px;
    width: 40px;
}

#pp_herat_transcaspia_border {
    top: 230px;
    left: 280px;
    height: 100px;
    width: 130px;
}

#pp_herat_persia_border {
    top: 340px;
    left: 270px;
    height: 140px;
    width: 40px;
}

#pp_kabul_kandahar_border {
    top: 290px;
    left: 560px;
    height: 40px;
    width: 160px;
}

#pp_kabul_punjab_border {
    top: 100px;
    left: 770px;
    height: 110px;
    width: 100px;
}

#pp_kabul_transcaspia_border {
    top: 100px;
    left: 410px;
    height: 120px;
    width: 40px;
}

#pp_kandahar_punjab_border {
    top: 360px;
    left: 750px;
    height: 120px;
    width: 40px;
}

#pp_persia_transcaspia_border {
    top: 290px;
    left: 100px;
    height: 40px;
    width: 150px;
}



/* ------- TOKENS ------- */

#pp_tokens {
    grid-column: 1 / span 1;
    grid-row: span 1;
    height: 241px;
    background-color: ivory;
    position: relative;
    /* width: 1000px; */
    box-shadow: rgb(0 0 0) 2px 2px 8px;
    /* padding: 10px; */
    display: flex;
    padding: 16px;
    box-sizing: border-box;
}

#pp_coalition_blocks_container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#pp_market_deck_container {
    display: flex;
}

#pp_discard_pile {
    width: 150px;
    height: 209px;
    border-radius: 10px;
    border: 4px dashed black;
    box-sizing: border-box;
    margin-right: 10px;
}

#pp_market_deck {
    width: 150px;
    height: 209px;
    background-size: 150px 209px;
    background-image: url('img/temp/cards/back.jpg');
    box-shadow: 1px 1px 4px;
    border-radius: 10px;
}

.pp_coalition_blocks {
    box-sizing: border-box;
    height: 40px;
    width: 650px;
    /* border: 2px solid blue; */
}

.pp_coalition_block {
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 25px;
}

.pp_coalition_block.pp_afghan {
    background-image: url('img/block_afghan.svg');
}

.pp_coalition_block.pp_british {
    background-image: url('img/block_british.svg');
}

.pp_coalition_block.pp_russian {
    background-image: url('img/block_russian.svg');
}

.pp_army {
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
    width: 25px;
    z-index: 1;
}

.pp_army.pp_afghan {
    background-image: url('img/army_afghan.svg');
}

.pp_army.pp_british {
    background-image: url('img/army_british.svg');
}

.pp_army.pp_russian {
    background-image: url('img/army_russian.svg');
}

.pp_road {
    background-size: contain;
    background-repeat: no-repeat;
    height: 27px;
    width: 40px;
    z-index: 1;
}

.pp_road.pp_afghan {
    background-image: url('img/road_afghan.svg');
}

.pp_road.pp_british {
    background-image: url('img/road_british.svg');
}

.pp_road.pp_russian {
    background-image: url('img/road_russian.svg');
}

.pp_cylinder {
    background-size: contain;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    z-index: 1;
    
}

.pp_cylinder.pp_player_color_98B3C0 {
    background-image: url('img/cylinder_blue.svg');
}

.pp_cylinder.pp_player_color_B9B6B1 {
    background-image: url('img/cylinder_grey.svg');
}

.pp_cylinder.pp_player_color_DFCFB6 {
    background-image: url('img/cylinder_yellow.svg');
}

.pp_cylinder.pp_player_color_C19B9E {
    background-image: url('img/cylinder_red.svg');
}

.pp_cylinder.pp_player_color_807F7F {
    background-image: url('img/cylinder_black.svg');
}


#pp_market_board {
    background-image: url('img/temp/paxpamir_market.jpg');
    background-size: 1000px 492px;
    background-repeat: no-repeat;
    grid-column: 1 / span 1;
    grid-row: span 1;
    width: 1000px;
    box-shadow: rgb(0 0 0) 2px 2px 8px;
    height: 492px;
    position: relative;
}

.pp_market {
    width: 150px;
    height: 209px;
    /* background-color: red; */
    position: absolute;
    /* border: 1px blue solid; */
}

.pp_market_rupees {
    width: 120px;
    height: 50px;
    left: 8px;
    top: 52px;
    position: absolute;
    /* border: 2px black solid; */
    /* z-index: 1; */
}

.pp_spy_zone {
    width: 132px;
    height: 25px;
    left: 8px;
    top: 83px;
    position: absolute;
    /* border: 2px black solid; */
    /* z-index: 10; */
}

.pp_player_hand {
    display: flex;
    flex-direction: column;
    min-height: 280px;
    margin-bottom: 15px;
    background-color: ivory;
}

.pp_player_hand_cards {
    flex-grow: 1;
    margin: 10px 20px;
}

#pp_player_tableaus {
    grid-column: span 1;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}

.pp_player_tableau {
    /* box-shadow: rgb(0 0 0) 2px 2px 8px; */
    /* position: relative; */
    display: flex;
    flex-direction: column;
    min-height: 280px;
    margin-bottom: 15px;
}

/* Blue */
.pp_player_tableau.pp_player_color_98B3C0 {
    background-color: #98B3C0;
}

/* Gray */
.pp_player_tableau.pp_player_color_B9B6B1 {
    background-color: #B9B6B1;
}

/* Yellow / tan */
.pp_player_tableau.pp_player_color_DFCFB6 {
    background-color: #DFCFB6;
}

/* Red */
.pp_player_tableau.pp_player_color_C19B9E {
    background-color: #C19B9E;
}

/* Black */
.pp_player_tableau.pp_player_color_807F7F {
    background-color: #807F7F;
}

.pp_court_container {
    display: flex;
    flex-direction: column;
}

.pp_court {
    margin: 10px 20px;
    flex-grow: 1;
    /* border: solid 2px white; */
}

.pp_cylinders {
    /* width: 60px; */
    margin: 0px 20px 15px 20px;
}

.pp_tableau_title {
    font-weight: bold;
    font-size: large;
    word-wrap: break-word;
    margin: 10px;
}

/* .pp_player_board {
    width: 600px;
    height: 137px;
    background-image: url('img/temp/player_board.png');
    background-size: 600px 685px;
    position: absolute;
    top: 20px;
    left: 20px;
    box-shadow: 1px 1px 4px;
    border-radius: 10px;
}
*/



.pp_card {
    /* box-shadow: 1px 1px 4px; */

    /* TODO: (Frans): check why setting border-radius leads to issues with stock component / some cards being 'invisible' */
    /* border-radius: 10px; */
    border-radius: 10px;
    border: 1px black solid;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.4);
}

.pp_selectable_card {
    /* border: 2px blue solid; */
    cursor: pointer;
    box-shadow: 0px 0px 0px 4px var(--selectable-color) !important;
}

.pp_selectable_card:hover {
	box-shadow: 0px 0px 0px 4px var(--selected-color) !important;
}

.pp_selected {
	cursor: pointer;
	box-shadow: 0px 0px 0px 4px var(--selected-color) !important;
}

.pp_discard {
    opacity: 0.5;
}

.pp_disabled {
    opacity: 0.5;
    cursor: none;
}

.pp_card_in_court:hover, .pp_card_in_court:active {
    z-index: 100 !important;
    /* border: 2px blue solid; */
}

.pp_rupee {
    width: 50px;
    height: 50px;
    background-image: url('img/temp/rupee.png');
    border-radius: 25px;
    box-shadow: 1px 1px 4px;
    z-index: 1;
}

/* ------- PLAYER BOARD ------- */

.pp_suit_icon {
    background-image: url(img/temp/suits.png);
    height: 44px;
}

.pp_suit_icon.economic {
    background-position:0px 0;
}

.pp_suit_icon.military {
    background-position:-42px 0;
}

.pp_suit_icon.political {
    background-position:-85px 0;
}

.pp_suit_icon.intelligence {
    background-position:-128px 0;
}

.pp_icon_count {
    position: absolute;
    color: black;
    /* bottom: 11px; */
    /* left: 18px; */
    bottom: 0px;
    right: 0px;
    /* font-weight: 700; */
    padding: 0px 2px;
    background-color: white;
    border-radius: 50%;
}

.pp_icon_container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 3px;
}

.pp_icon {
    background-repeat: no-repeat;
    position: relative;
    margin: 4px;
    width: 44px;
}

.pp_loyalty_icon {
    /* height: 30px; */
    
    /* background-size: 132px 30px;  */
    /* background-position: -250px 0px; */
    background-size: contain;
    /* background-repeat: no-repeat;
    width: 44px; */
}

.pp_loyalty_icon.pp_loyalty_afghan {
    background-image: url('img/loyalty_afghan.svg');
    height: 25px;
    padding-bottom: 12px;
}

.pp_loyalty_icon.pp_loyalty_british {
    background-image: url('img/loyalty_british.svg');
    height: 16px;
    padding-bottom: 22px;
}

.pp_loyalty_icon.pp_loyalty_russian {
    background-image: url('img/loyalty_russian.svg');
    height: 14px;
    padding-bottom: 22px;
}

.pp_cylinder_icon {
    background-image: url(img/temp/tokens.png);
    background-size: 220px 44px;
    height: 44px;
}

.pp_player_board_rupee {
    height: 44px;
    background-size: 44px;
    background-image: url('img/rupee.svg');
}

.pp_card_icon {
    height: 44px;
    width: 32px;
    background-size: 32px 44px;
    background-image: url('img/temp/cards/back.jpg');
    margin-left: 16px;
    border-radius: 3px;
}

/* BUTTONS */

#afghan_button {
    background-color: var(--afghan-color);
}


#british_button {
    background-color: var(--british-color);
}

#russian_button {
    background-color: var(--russian-color);
}

/* ------- CARDS START ------- */

.pp_card_1 {
    background-image: url('img/temp/cards/1.jpg');
}

.pp_card_2 {
    background-image: url('img/temp/cards/2.jpg');
}

.pp_card_3 {
    background-image: url('img/temp/cards/3.jpg');
}

.pp_card_4 {
    background-image: url('img/temp/cards/4.jpg');
}

.pp_card_5 {
    background-image: url('img/temp/cards/5.jpg');
}

.pp_card_6 {
    background-image: url('img/temp/cards/6.jpg');
}

.pp_card_7 {
    background-image: url('img/temp/cards/7.jpg');
}

.pp_card_8 {
    background-image: url('img/temp/cards/8.jpg');
}

.pp_card_9 {
    background-image: url('img/temp/cards/9.jpg');
}

.pp_card_10 {
    background-image: url('img/temp/cards/10.jpg');
}

.pp_card_11 {
    background-image: url('img/temp/cards/11.jpg');
}

.pp_card_12 {
    background-image: url('img/temp/cards/12.jpg');
}

.pp_card_13 {
    background-image: url('img/temp/cards/13.jpg');
}

.pp_card_14 {
    background-image: url('img/temp/cards/14.jpg');
}

.pp_card_15 {
    background-image: url('img/temp/cards/15.jpg');
}

.pp_card_16 {
    background-image: url('img/temp/cards/16.jpg');
}

.pp_card_17 {
    background-image: url('img/temp/cards/17.jpg');
}

.pp_card_18 {
    background-image: url('img/temp/cards/18.jpg');
}

.pp_card_19 {
    background-image: url('img/temp/cards/19.jpg');
}

.pp_card_20 {
    background-image: url('img/temp/cards/20.jpg');
}

.pp_card_21 {
    background-image: url('img/temp/cards/21.jpg');
}

.pp_card_22 {
    background-image: url('img/temp/cards/22.jpg');
}

.pp_card_23 {
    background-image: url('img/temp/cards/23.jpg');
}

.pp_card_24 {
    background-image: url('img/temp/cards/24.jpg');
}

.pp_card_25 {
    background-image: url('img/temp/cards/25.jpg');
}

.pp_card_26 {
    background-image: url('img/temp/cards/26.jpg');
}

.pp_card_27 {
    background-image: url('img/temp/cards/27.jpg');
}

.pp_card_28 {
    background-image: url('img/temp/cards/28.jpg');
}

.pp_card_29 {
    background-image: url('img/temp/cards/29.jpg');
}

.pp_card_30 {
    background-image: url('img/temp/cards/30.jpg');
}

.pp_card_31 {
    background-image: url('img/temp/cards/31.jpg');
}

.pp_card_32 {
    background-image: url('img/temp/cards/32.jpg');
}

.pp_card_33 {
    background-image: url('img/temp/cards/33.jpg');
}

.pp_card_34 {
    background-image: url('img/temp/cards/34.jpg');
}

.pp_card_35 {
    background-image: url('img/temp/cards/35.jpg');
}

.pp_card_36 {
    background-image: url('img/temp/cards/36.jpg');
}

.pp_card_37 {
    background-image: url('img/temp/cards/37.jpg');
}

.pp_card_38 {
    background-image: url('img/temp/cards/38.jpg');
}

.pp_card_39 {
    background-image: url('img/temp/cards/39.jpg');
}

.pp_card_40 {
    background-image: url('img/temp/cards/40.jpg');
}

.pp_card_41 {
    background-image: url('img/temp/cards/41.jpg');
}

.pp_card_42 {
    background-image: url('img/temp/cards/42.jpg');
}

.pp_card_43 {
    background-image: url('img/temp/cards/43.jpg');
}

.pp_card_44 {
    background-image: url('img/temp/cards/44.jpg');
}

.pp_card_45 {
    background-image: url('img/temp/cards/45.jpg');
}

.pp_card_46 {
    background-image: url('img/temp/cards/46.jpg');
}

.pp_card_47 {
    background-image: url('img/temp/cards/47.jpg');
}

.pp_card_48 {
    background-image: url('img/temp/cards/48.jpg');
}

.pp_card_49 {
    background-image: url('img/temp/cards/49.jpg');
}

.pp_card_50 {
    background-image: url('img/temp/cards/50.jpg');
}

.pp_card_51 {
    background-image: url('img/temp/cards/51.jpg');
}

.pp_card_52 {
    background-image: url('img/temp/cards/52.jpg');
}

.pp_card_53 {
    background-image: url('img/temp/cards/53.jpg');
}

.pp_card_54 {
    background-image: url('img/temp/cards/54.jpg');
}

.pp_card_55 {
    background-image: url('img/temp/cards/55.jpg');
}

.pp_card_56 {
    background-image: url('img/temp/cards/56.jpg');
}

.pp_card_57 {
    background-image: url('img/temp/cards/57.jpg');
}

.pp_card_58 {
    background-image: url('img/temp/cards/58.jpg');
}

.pp_card_59 {
    background-image: url('img/temp/cards/59.jpg');
}

.pp_card_60 {
    background-image: url('img/temp/cards/60.jpg');
}

.pp_card_61 {
    background-image: url('img/temp/cards/61.jpg');
}

.pp_card_62 {
    background-image: url('img/temp/cards/62.jpg');
}

.pp_card_63 {
    background-image: url('img/temp/cards/63.jpg');
}

.pp_card_64 {
    background-image: url('img/temp/cards/64.jpg');
}

.pp_card_65 {
    background-image: url('img/temp/cards/65.jpg');
}

.pp_card_66 {
    background-image: url('img/temp/cards/66.jpg');
}

.pp_card_67 {
    background-image: url('img/temp/cards/67.jpg');
}

.pp_card_68 {
    background-image: url('img/temp/cards/68.jpg');
}

.pp_card_69 {
    background-image: url('img/temp/cards/69.jpg');
}

.pp_card_70 {
    background-image: url('img/temp/cards/70.jpg');
}

.pp_card_71 {
    background-image: url('img/temp/cards/71.jpg');
}

.pp_card_72 {
    background-image: url('img/temp/cards/72.jpg');
}

.pp_card_73 {
    background-image: url('img/temp/cards/73.jpg');
}

.pp_card_74 {
    background-image: url('img/temp/cards/74.jpg');
}

.pp_card_75 {
    background-image: url('img/temp/cards/75.jpg');
}

.pp_card_76 {
    background-image: url('img/temp/cards/76.jpg');
}

.pp_card_77 {
    background-image: url('img/temp/cards/77.jpg');
}

.pp_card_78 {
    background-image: url('img/temp/cards/78.jpg');
}

.pp_card_79 {
    background-image: url('img/temp/cards/79.jpg');
}

.pp_card_80 {
    background-image: url('img/temp/cards/80.jpg');
}

.pp_card_81 {
    background-image: url('img/temp/cards/81.jpg');
}

.pp_card_82 {
    background-image: url('img/temp/cards/82.jpg');
}

.pp_card_83 {
    background-image: url('img/temp/cards/83.jpg');
}

.pp_card_84 {
    background-image: url('img/temp/cards/84.jpg');
}

.pp_card_85 {
    background-image: url('img/temp/cards/85.jpg');
}

.pp_card_86 {
    background-image: url('img/temp/cards/86.jpg');
}

.pp_card_87 {
    background-image: url('img/temp/cards/87.jpg');
}

.pp_card_88 {
    background-image: url('img/temp/cards/88.jpg');
}

.pp_card_89 {
    background-image: url('img/temp/cards/89.jpg');
}

.pp_card_90 {
    background-image: url('img/temp/cards/90.jpg');
}

.pp_card_91 {
    background-image: url('img/temp/cards/91.jpg');
}

.pp_card_92 {
    background-image: url('img/temp/cards/92.jpg');
}

.pp_card_93 {
    background-image: url('img/temp/cards/93.jpg');
}

.pp_card_94 {
    background-image: url('img/temp/cards/94.jpg');
}

.pp_card_95 {
    background-image: url('img/temp/cards/95.jpg');
}

.pp_card_96 {
    background-image: url('img/temp/cards/96.jpg');
}

.pp_card_97 {
    background-image: url('img/temp/cards/97.jpg');
}

.pp_card_98 {
    background-image: url('img/temp/cards/98.jpg');
}

.pp_card_99 {
    background-image: url('img/temp/cards/99.jpg');
}

.pp_card_100 {
    background-image: url('img/temp/cards/100.jpg');
}

.pp_card_101 {
    background-image: url('img/temp/cards/101.jpg');
}

.pp_card_102 {
    background-image: url('img/temp/cards/102.jpg');
}

.pp_card_103 {
    background-image: url('img/temp/cards/103.jpg');
}

.pp_card_104 {
    background-image: url('img/temp/cards/104.jpg');
}

.pp_card_105 {
    background-image: url('img/temp/cards/105.jpg');
}

.pp_card_106 {
    background-image: url('img/temp/cards/106.jpg');
}

.pp_card_107 {
    background-image: url('img/temp/cards/107.jpg');
}

.pp_card_108 {
    background-image: url('img/temp/cards/108.jpg');
}

.pp_card_109 {
    background-image: url('img/temp/cards/109.jpg');
}

.pp_card_110 {
    background-image: url('img/temp/cards/110.jpg');
}

.pp_card_111 {
    background-image: url('img/temp/cards/111.jpg');
}

.pp_card_112 {
    background-image: url('img/temp/cards/112.jpg');
}

.pp_card_113 {
    background-image: url('img/temp/cards/113.jpg');
}

.pp_card_114 {
    background-image: url('img/temp/cards/114.jpg');
}

.pp_card_115 {
    background-image: url('img/temp/cards/115.jpg');
}

.pp_card_116 {
    background-image: url('img/temp/cards/116.jpg');
}

.pp_card_back {
    background-image: url('img/temp/cards/back.jpg');
}


/* ------- CARDS END ------- */