@charset "UTF-8";
/**
 * All base constants to be used in other sass files.
 */
/* --selectable-color: #DE9043; */
/* --selected-color: #512D75; */
.phantom {
  visibility: hidden;
}

.pp_moving {
  z-index: 900;
}

.pp_hidden {
  opacity: 0 !important;
  pointer-events: none;
}

/* ------- UNDO TURN ------- */
/* Cancelled notification messages */
.log.cancel {
  color: #c62828 !important;
  text-decoration: line-through;
}

/* Desktop logs */
.log.cancel .roundedbox {
  background-color: rgba(240, 186, 117, 0.6) !important;
}

/* Mobile logs */
.log.cancel.roundedbox {
  background-color: #ef9a9a;
}

/* ------- LOG TOKENS ------- */
.pp_log_token {
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}

.pp_log_token.pp_log_token_rupee {
  background-size: 1100% 100%;
  background-position-x: 100%;
  background-image: url("img/actions.webp");
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-bottom: -5px;
  background-repeat: no-repeat;
}

.pp_log_token.pp_leverage {
  background-image: url("img/impact_icons.webp");
  background-size: 1500% 100%;
  width: 25px;
  height: 25px;
  background-position-x: 28.5714285714%;
  background-repeat: no-repeat;
  margin-bottom: -5px;
}

.pp_log_token.pp_region_icon {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  margin-bottom: -5px;
  margin-top: 5px;
}

.pp_log_token.pp_loyalty_icon.pp_afghan {
  height: 20px;
  width: 38px;
  padding-bottom: 0px;
}

.pp_log_token.pp_loyalty_icon.pp_british {
  height: 20px;
  width: 34px;
  padding-bottom: 0px;
}

.pp_log_token.pp_loyalty_icon.pp_russian {
  height: 20px;
  width: 35px;
  padding-bottom: 0px;
}

.pp_log_token.pp_card {
  height: 30px;
  width: 21px;
  border-radius: 2px !important;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.4) !important;
  margin-bottom: -5px;
}

.pp_log_token.pp_card.pp_large {
  display: inline-block;
  width: 74px;
  height: 104px;
  border-radius: 5px !important;
  box-shadow: 2.5px 2.5px 2.5px 0px rgba(0, 0, 0, 0.4) !important;
  margin-top: 2px;
  margin-bottom: 0px;
}

.pp_log_token.pp_army {
  background-size: 400% 100%;
  background-repeat: no-repeat;
  height: 30px;
  width: 19px;
  z-index: 1;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
  margin-bottom: -5px;
}

.pp_log_token.pp_road {
  margin-bottom: -5px;
}

.pp_log_token.pp_cylinder {
  margin-bottom: -5px;
}

.pp_log_token.pp_impact_icon_suit {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: -7px;
}

.pp_impact_icon_suit.economic {
  background-image: url("img/impact_icons.webp");
  background-size: 1500% 100%;
  background-position-x: 71.4285714286%;
}

.pp_impact_icon_suit.military {
  background-image: url("img/impact_icons.webp");
  background-size: 1500% 100%;
  background-position-x: 85.7142857143%;
}

.pp_impact_icon_suit.political {
  background-image: url("img/impact_icons.webp");
  background-size: 1500% 100%;
  background-position-x: 92.8571428571%;
}

.pp_impact_icon_suit.intelligence {
  background-image: url("img/impact_icons.webp");
  background-size: 1500% 100%;
  background-position-x: 78.5714285714%;
}

/* ------- MAP AND REGIONS ------- */
#pp_map {
  background-image: url("img/paxpamir_board.jpg");
  background-size: 1000px 581px;
  background-repeat: no-repeat;
  grid-column: 1/span 1;
  grid-row: span 1;
  height: 581px;
  position: relative;
  width: 1000px;
  box-shadow: 1px 1px 5px #000;
}

#pp_map_areas {
  position: absolute;
  left: 91px;
  top: 89px;
  width: 819px;
  height: 402px;
  /* background-color: blue; */
}

#pp_map_areas.pp_selectable {
  z-index: 50;
}

.pp_region {
  fill: transparent;
}

.pp_region.pp_selectable {
  fill: yellow;
  fill-opacity: 25%;
  stroke: yellow;
  stroke-width: 4;
  cursor: pointer;
  z-index: 50;
}

.pp_region.pp_selected {
  fill: blue;
  fill-opacity: 25%;
  stroke: blue;
  stroke-width: 4;
  cursor: pointer;
  z-index: 50;
}

.pp_region.pp_selectable:hover {
  fill: blue;
  stroke: blue;
}

.pp_location {
  position: absolute;
  /* border: 2px solid blue; */
}

.pp_favored_suit {
  height: 54px;
  width: 26px;
  position: absolute;
  /* border: 2px solid blue; */
  box-sizing: border-box;
}

.pp_favored_suit_marker {
  height: 50px;
  width: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("img/favoured_suit_marker.svg");
}

#pp_favored_suit_political {
  top: 116px;
  left: 42px;
}

#pp_favored_suit_intelligence {
  top: 197px;
  left: 42px;
}

#pp_favored_suit_economic {
  top: 278px;
  left: 42px;
}

#pp_favored_suit_military {
  top: 361px;
  left: 42px;
}

.pp_vp_track {
  height: 50px;
  width: 50px;
  position: absolute;
  /* box-shadow: 0px 0px 0px 4px blue !important; */
}

.pp_position_ruler_token {
  height: 54px;
  width: 50px;
  position: absolute;
  /* box-shadow: 0px 0px 0px 4px blue !important; */
}

#pp_position_ruler_token_herat {
  top: 323px;
  left: 394px;
}

#pp_position_ruler_token_kabul {
  top: 120px;
  left: 594px;
}

#pp_position_ruler_token_kandahar {
  top: 373px;
  left: 648px;
}

#pp_position_ruler_token_persia {
  top: 363px;
  left: 163px;
}

#pp_position_ruler_token_punjab {
  top: 252px;
  left: 831px;
}

#pp_position_ruler_token_transcaspia {
  top: 110px;
  left: 207px;
}

.pp_ruler_token {
  height: 50px;
  width: 50px;
  background-image: url("img/ruler_tokens.webp");
  background-size: 600% 100%;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.pp_ruler_token.pp_herat {
  background-position-x: 0%;
}

.pp_ruler_token.pp_kabul {
  background-position-x: 20%;
}

.pp_ruler_token.pp_kandahar {
  background-position-x: 40%;
}

.pp_ruler_token.pp_persia {
  background-position-x: 60%;
}

.pp_ruler_token.pp_punjab {
  background-position-x: 80%;
}

.pp_ruler_token.pp_transcaspia {
  background-position-x: 100%;
}

.pp_location.pp_selectable {
  /* border: 2px blue solid; */
  cursor: pointer !important;
  box-shadow: 0px 0px 0px 4px yellow !important;
}

.pp_location.pp_selectable:hover {
  box-shadow: 0px 0px 0px 4px blue !important;
}

.pp_location.pp_selected {
  cursor: pointer;
  box-shadow: 0px 0px 0px 4px blue !important;
}

#pp_herat_armies {
  top: 380px;
  left: 320px;
  height: 80px;
  width: 190px;
}

#pp_kabul_armies {
  top: 180px;
  left: 520px;
  height: 40px;
  width: 190px;
}

#pp_kandahar_armies {
  top: 420px;
  left: 580px;
  height: 40px;
  width: 160px;
}

#pp_persia_armies {
  top: 420px;
  left: 100px;
  height: 60px;
  width: 160px;
}

#pp_punjab_armies {
  top: 300px;
  left: 800px;
  height: 160px;
  width: 100px;
}

#pp_transcaspia_armies {
  top: 220px;
  left: 100px;
  height: 40px;
  width: 190px;
}

#pp_herat_tribes {
  top: 320px;
  left: 320px;
  height: 40px;
  width: 190px;
}

#pp_kabul_tribes {
  top: 100px;
  left: 520px;
  height: 40px;
  width: 190px;
}

#pp_kandahar_tribes {
  top: 360px;
  left: 580px;
  height: 40px;
  width: 160px;
}

#pp_persia_tribes {
  top: 360px;
  left: 100px;
  height: 40px;
  width: 160px;
}

#pp_punjab_tribes {
  top: 240px;
  left: 800px;
  height: 40px;
  width: 100px;
}

#pp_transcaspia_tribes {
  top: 120px;
  left: 100px;
  height: 40px;
  width: 190px;
}

/* Borders */
#pp_herat_kabul_border {
  top: 230px;
  left: 420px;
  height: 80px;
  width: 110px;
}

#pp_herat_kandahar_border {
  top: 340px;
  left: 525px;
  height: 140px;
  width: 40px;
}

#pp_herat_transcaspia_border {
  top: 230px;
  left: 280px;
  height: 100px;
  width: 130px;
}

#pp_herat_persia_border {
  top: 340px;
  left: 270px;
  height: 140px;
  width: 40px;
}

#pp_kabul_kandahar_border {
  top: 290px;
  left: 560px;
  height: 40px;
  width: 160px;
}

#pp_kabul_punjab_border {
  top: 100px;
  left: 770px;
  height: 110px;
  width: 100px;
}

#pp_kabul_transcaspia_border {
  top: 100px;
  left: 410px;
  height: 120px;
  width: 40px;
}

#pp_kandahar_punjab_border {
  top: 360px;
  left: 750px;
  height: 120px;
  width: 40px;
}

#pp_persia_transcaspia_border {
  top: 290px;
  left: 100px;
  height: 40px;
  width: 150px;
}

/* ------- PLAYER BOARD ------- */
.pp_suit_icon {
  height: 46px;
  background-size: 44px;
  background-image: url("img/suits.webp");
  background-size: 400% 100%;
}

.pp_suit_icon.military {
  background-position-x: 66.66667%;
}

.pp_suit_icon.political {
  background-position-x: 100%;
}

.pp_suit_icon.intelligence {
  background-position-x: 33.33333%;
}

.pp_icon_count {
  position: absolute;
  color: black;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* bottom: 11px; */
  /* left: 18px; */
  bottom: 0px;
  right: 0px;
  /* font-weight: 700; */
  /* padding: 0px 2px; */
  background-color: white;
  border-radius: 50%;
  border: solid 1px #000000;
}

.pp_icon_container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 3px;
}

.pp_icon {
  background-repeat: no-repeat;
  position: relative;
  margin: 4px;
  width: 44px;
}

.pp_loyalty_icon {
  background-image: url("img/coalition_icons.webp");
  /* background-size: 132px 30px;  */
  /* background-position: -250px 0px; */
  background-size: 300% 100%;
  background-repeat: no-repeat;
}

.pp_loyalty_icon.pp_afghan {
  height: 25px;
  padding-bottom: 12px;
  background-position-x: 0%;
}

.pp_loyalty_icon.pp_british {
  height: 16px;
  padding-bottom: 22px;
  background-position-x: 50%;
}

.pp_loyalty_icon.pp_russian {
  height: 14px;
  padding-bottom: 22px;
  background-position-x: 100%;
}

.pp_cylinder_icon {
  background-image: url("img/cylinders.webp");
  background-size: 500% 100%;
  height: 44px;
}

.pp_cylinder_icon.pp_player_color_98B3C0 {
  background-position-x: 25%;
}

.pp_cylinder_icon.pp_player_color_B9B6B1 {
  background-position-x: 50%;
}

.pp_cylinder_icon.pp_player_color_DFCFB6 {
  background-position-x: 100%;
}

.pp_cylinder_icon.pp_player_color_C19B9E {
  background-position-x: 75%;
}

.pp_cylinder_icon.pp_player_color_807F7F {
  background-position-x: 0%;
}

.pp_player_board_rupee {
  height: 44px;
  background-size: 1100% 100%;
  background-position-x: 100%;
  background-image: url("img/actions.webp");
  border-radius: 50%;
}

.pp_card_icon {
  height: 44px;
  width: 32px;
  background-size: 1000% 500%;
  background-image: url("img/cards2.webp");
  background-position-x: 66.6666666667%;
  background-position-y: 100%;
  margin-left: 16px;
  border-radius: 3px;
}

.pp_player_hand {
  display: flex;
  flex-direction: column;
  min-height: 280px;
  margin-bottom: 15px;
  background-color: ivory;
}

.pp_player_hand_cards {
  flex-grow: 1;
  margin: 10px 20px;
}

.pp_player_events_container {
  height: 209px;
  padding-left: 8px;
  margin-bottom: 16px;
  margin-top: -209px;
  z-index: 0;
  transition: margin-top 1s;
}

#pp_player_tableaus {
  grid-column: span 1;
  grid-row: span 4;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}

.pp_player_tableau {
  position: relative;
  /* box-shadow: rgb(0 0 0) 2px 2px 8px; */
  box-shadow: 1px 1px 5px #000;
  /* position: relative; */
  display: flex;
  flex-direction: row;
  min-height: 270px;
  padding-bottom: 16px;
  z-index: 1;
}

.pp_player_tableau_right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* background-color: blue; */
}

.pp_tableau_inner_container {
  display: flex;
  flex-direction: row;
}

/* Blue */
.pp_player_tableau.pp_player_color_98B3C0 {
  background-color: #98B3C0;
}

/* Gray */
.pp_player_tableau.pp_player_color_B9B6B1 {
  background-color: #B9B6B1;
}

/* Yellow / tan */
.pp_player_tableau.pp_player_color_DFCFB6 {
  background-color: #DFCFB6;
}

/* Red */
.pp_player_tableau.pp_player_color_C19B9E {
  background-color: #C19B9E;
}

/* Black */
.pp_player_tableau.pp_player_color_807F7F {
  background-color: #807F7F;
}

.pp_tableau_inner_right {
  /* display: flex;
  flex-direction: column; */
  flex-grow: 1;
}

.pp_tableau_inner_left {
  /* background-color: purple; */
  width: 77px;
  margin-right: 7px;
  margin-left: 16px;
}

.pp_tableau_left {
  /* background-color: purple; */
  width: 210px;
  display: flex;
  flex-direction: column;
}

.pp_prizes {
  position: relative;
  left: 30px;
  width: 150px;
  height: 209px;
  margin-bottom: -209px;
  transition: height 2s margin-bottom 2s;
}

.pp_card.pp_prize {
  transform: rotate(180deg);
  box-shadow: rgba(0, 0, 0, 0.1) -5px -5px 5px 0px;
}

.pp_loyalty_dial_container {
  position: relative;
  width: 204px;
  height: 204px;
  border-radius: 50%;
  margin: 5px;
  box-shadow: 2px 2px 5px -1px #000;
  border: 1px solid black;
}

.pp_loyalty_dial {
  background-image: url("img/loyalty_dial.png");
  border-radius: 50%;
  width: 204px;
  height: 203px;
  position: absolute;
  background-size: 204px 204px;
}

.pp_loyalty_dial.pp_afghan {
  transform: rotate(0deg);
  transition: transform 2s;
}

.pp_loyalty_dial.pp_british {
  transform: rotate(120deg);
  transition: transform 2s;
}

.pp_loyalty_dial.pp_russian {
  transform: rotate(240deg);
  transition: transform 2s;
}

.pp_loyalty_dial_cover {
  background-image: url("img/loyalty_dials.png");
  background-size: 500% 100%;
  width: 204px;
  height: 160px;
  position: absolute;
  background-repeat: no-repeat;
  margin-top: 44px;
}

.pp_gift {
  border-radius: 50%;
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 1;
}

.pp_gift.pp_selectable {
  box-shadow: 0px 0px 0px 3px yellow !important;
  cursor: pointer !important;
}

.pp_gift.pp_selected, .pp_gift.pp_selectable:hover {
  box-shadow: 0px 0px 0px 3px blue !important;
}

.pp_gift_zone {
  width: 40px;
  height: 40px;
}

.pp_gift_2 {
  left: 17px;
  top: 78px;
}

.pp_gift_4 {
  left: 29px;
  top: 119px;
}

.pp_gift_6 {
  left: 64px;
  top: 144px;
}

/* Blue */
.pp_loyalty_dial_cover.pp_player_color_98B3C0 {
  background-position-x: 25%;
}

/* Gray */
.pp_loyalty_dial_cover.pp_player_color_B9B6B1 {
  background-position-x: 50%;
}

/* Yellow / tan */
.pp_loyalty_dial_cover.pp_player_color_DFCFB6 {
  background-position-x: 100%;
}

/* Red */
.pp_loyalty_dial_cover.pp_player_color_C19B9E {
  background-position-x: 75%;
}

/* Black */
.pp_loyalty_dial_cover.pp_player_color_807F7F {
  background-position-x: 0%;
}

.pp_court {
  /* margin: 10px 20px; */
  flex-grow: 1;
  /* border: solid 2px white; */
}

.pp_cylinders {
  /* width: 400px; */
  /* margin: 0px 20px 15px 20px; */
}

.pp_bottom_court {
  margin: 0px 20px 15px 20px;
  display: flex;
  flex-direction: row;
}

.pp_ruler_tokens_player {
  flex-grow: 1;
  margin: 8px;
}

.pp_tableau_title {
  font-weight: bold;
  font-size: large;
  word-wrap: break-word;
  margin: 10px;
  margin-right: 220px;
}

.pp_player_tableau_title {
  font-weight: bold;
  font-size: large;
  word-wrap: break-word;
  margin: 10px;
  margin-right: 126px;
  flex-grow: 1;
}

.pp_player_tableau_title_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pp_player_tableau_icons {
  width: 94px;
  display: flex;
  flex-direction: row;
}

.pp_card_icon_tableau {
  height: 44px;
  width: 32px;
  background-size: 1000% 500%;
  background-image: url("img/cards2.webp");
  background-position-x: 66.6666666667%;
  background-position-y: 100%;
  /* margin-left: 16px; */
  border-radius: 3px;
}

/* .pp_player_board {
  width: 600px;
  height: 137px;
  background-image: url('img/temp/player_board.png');
  background-size: 600px 685px;
  position: absolute;
  top: 20px;
  left: 20px;
  box-shadow: 1px 1px 4px;
  border-radius: 10px;
}
*/
.pp_player_hand_modal_content {
  min-height: 241px;
  box-sizing: border-box;
  background-color: white;
  padding: 16px;
  grid-gap: 16px;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 150px 150px 150px 150px 150px;
  grid-template-rows: 209px;
}

.pp_player_hand_popin {
  background-color: white;
  box-shadow: rgb(0, 0, 0) 1px 1px 5px;
  position: fixed;
  top: 10vh;
  min-width: 500px;
}
.pp_player_hand_popin .pp_player_hand_popin_closeicon {
  background-color: #a47a77;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -18px;
  right: -18px;
  font-size: 90%;
  color: white !important;
  border: 1px solid #dfbda8;
}
.pp_player_hand_popin .pp_player_hand_popin_closeicon:hover {
  text-decoration: none;
  color: #ccc !important;
  transform: scale(1.1);
}
.pp_player_hand_popin .pp_player_hand_popin_closeicon i {
  margin-top: -2px;
}
.pp_player_hand_popin h2 {
  text-align: center;
  font-size: large;
  font-weight: bold;
  margin: 0px;
  padding: 7px 0px;
  border-bottom: 1px solid black;
}
.pp_player_hand_popin .reserve {
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
}

.dijitTooltipContainer {
  padding: 0px !important;
}

.pp_tooltip_impact_icon_tribe {
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
}

.pp_tooltip_card_action {
  width: 40px;
  height: 40px;
  background-image: url("img/actions.webp");
  background-size: 1100% 100%;
  background-repeat: no-repeat;
}

.pp_card_action_betray {
  background-position-x: 20%;
}

.pp_card_action_battle.pp_rank_1 {
  background-position-x: 0%;
}

.pp_card_action_battle.pp_rank_2 {
  background-position-x: 10%;
}

.pp_card_action_build {
  background-position-x: 30%;
}

.pp_card_action_gift {
  background-position-x: 40%;
}

.pp_card_action_move.pp_rank_1 {
  background-position-x: 50%;
}

.pp_card_action_move.pp_rank_2 {
  background-position-x: 60%;
}

.pp_card_action_move.pp_rank_3 {
  background-position-x: 70%;
}

.pp_card_action_tax.pp_rank_1 {
  background-position-x: 80%;
}

.pp_card_action_tax.pp_rank_2 {
  background-position-x: 90%;
}

.pp_tooltip_impact_icon {
  width: 40px;
  height: 40px;
  background-image: url("img/impact_icons.webp");
  background-size: 1500% 100%;
  background-repeat: no-repeat;
}

.pp_impact_icon_army_afghan {
  background-position-x: 0%;
}

.pp_impact_icon_army_british {
  background-position-x: 7.1428571429%;
}

.pp_impact_icon_army_russian {
  background-position-x: 21.4285714286%;
}

.pp_impact_icon_army_neutral {
  background-position-x: 14.2857142857%;
}

.pp_impact_icon_leverage {
  background-position-x: 28.5714285714%;
}

.pp_impact_icon_spy {
  background-position-x: 64.2857142857%;
}

.pp_impact_icon_tribe {
  background-position-x: 100%;
}

.pp_impact_icon_economic_suit {
  background-position-x: 71.4285714286%;
}

.pp_impact_icon_military_suit {
  background-position-x: 85.7142857143%;
}

.pp_impact_icon_political_suit {
  background-position-x: 92.8571428571%;
}

.pp_impact_icon_intelligence_suit {
  background-position-x: 78.5714285714%;
}

.pp_impact_icon_road_afghan {
  background-position-x: 35.7142857143%;
}

.pp_impact_icon_road_british {
  background-position-x: 42.8571428571%;
}

.pp_impact_icon_road_russian {
  background-position-x: 57.1428571429%;
}

.pp_impact_icon_road_neutral {
  background-position-x: 50%;
}

.pp_impact_icon_text {
  font-size: small;
  text-align: left;
}

.pp_card_tooltip {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 8px;
  padding-bottom: 16px;
  width: 440px;
  min-height: 372px;
}
.pp_card_tooltip .pp_card_tooltip_inner_container {
  flex-grow: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 274px;
}
.pp_card_tooltip .pp_card_tooltip_inner_container .pp_title {
  font-size: large;
  font-weight: bold;
  text-align: left;
  margin-bottom: 4px;
}
.pp_card_tooltip .pp_card_tooltip_inner_container .pp_section_title {
  font-size: medium;
  font-weight: bold;
  text-align: left;
  margin-bottom: 4px;
  margin-top: 4px;
}
.pp_card_tooltip .pp_card_tooltip_inner_container .pp_card_tooltip_section_container {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}
.pp_card_tooltip .pp_card_tooltip_inner_container .pp_card_tooltip_section_container .pp_card_tooltip_section_inner_container {
  min-width: 40px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
}
.pp_card_tooltip .pp_card_tooltip_inner_container .pp_special_ability_text {
  text-align: left;
  font-size: small;
}
.pp_card_tooltip .pp_card_tooltip_inner_container .pp_flavor_text {
  text-align: left;
  font-size: small;
  font-style: italic;
  margin-bottom: 8px;
}

.pp_card_in_tooltip {
  margin-right: -100px;
  margin-left: 8px;
  align-self: center;
  width: 240px;
  height: 334px;
  background-size: 240px 334px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Paxpamir implementation : © Frans Bongers <fjmbongers@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * paxpamir.css
 *
 * PaxPamir stylesheet
 *
 */
html {
  background: url("") rgb(192, 192, 192);
}

.player-board {
  background-color: antiquewhite;
}

#pp_play_area {
  grid-gap: 16px;
  display: grid;
  grid-auto-flow: dense;
  grid-template-rows: repeat(auto-fill, 581px 241px 492px);
  justify-content: center;
  position: relative;
  text-align: center;
  top: 5px;
}
@media (max-width: 2080px) {
  #pp_play_area {
    grid-template-columns: repeat(auto-fill, 1000px);
  }
}
@media (min-width: 2080px) {
  #pp_play_area {
    grid-template-columns: repeat(auto-fill, 1000px minmax(840px, 1fr));
  }
}

/* ------- SUPPLY ------- */
#pp_supply {
  grid-column: 1/span 1;
  grid-row: span 1;
  height: 241px;
  background-color: ivory;
  position: relative;
  /* width: 1000px; */
  box-shadow: 1px 1px 5px #000;
  /* padding: 10px; */
  display: flex;
  padding: 16px;
  box-sizing: border-box;
}

#pp_dominant_coalition_banner {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: bold;
}

#pp_dominant_coalition_banner.pp_afghan {
  background-color: #5fc89e;
}

#pp_dominant_coalition_banner.pp_british {
  background-color: #eb97d1;
}

#pp_dominant_coalition_banner.pp_russian {
  background-color: #f3f35a;
}

#pp_coalition_blocks_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: auto;
  width: 470px;
}

#pp_market_deck_container {
  display: flex;
}

#pp_temp_discarded_card {
  position: relative;
  margin-right: 10px;
  width: 150px;
  height: 209px;
}

#pp_pile_discarded_card {
  top: -4px;
  left: -5px;
  position: absolute;
}

#pp_discard_pile {
  width: 149px;
  height: 209px;
  border-radius: 10px;
  border: 4px dashed black;
  box-sizing: border-box;
  margin-right: 10px;
  position: relative;
}

.pp_discarded_card {
  width: 150px;
  height: 209px;
  box-sizing: border-box;
  box-shadow: rgb(0, 0, 0) 2px 2px 5px -1px;
  border-radius: 10px;
  background-repeat: no-repeat;
  border: 1px black solid;
  opacity: 0;
}

#pp_market_deck {
  width: 150px;
  height: 209px;
  background-size: 1000% 500%;
  background-image: url("img/cards2.webp");
  background-position-x: 66.6666666667%;
  background-position-y: 100%;
  box-shadow: 1px 1px 4px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.pp_deck_counters_container {
  height: 24px;
  width: 90px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgb(0, 0, 0);
  justify-self: flex-end;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  justify-content: space-evenly;
  align-items: center;
}

.pp_card_counter_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pp_card_counter {
  margin-left: 2px;
}

.pp_court_card_icon {
  background-position-x: 66.6666666667%;
  background-position-y: 100%;
}

.pp_deck_counter_icon {
  height: 20px;
  width: 14px;
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  border-radius: 2px;
}

.pp_dominance_check_icon {
  background-position-x: 0%;
  background-position-y: 75%;
}

.pp_coalition_blocks {
  box-sizing: border-box;
  height: 40px;
  width: 650px;
  /* border: 2px solid blue; */
}

.pp_coalition_block {
  background-image: url("img/blocks.webp");
  background-size: 300% 100%;
  background-repeat: no-repeat;
  height: 40px;
  width: 25px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.pp_coalition_block.pp_afghan {
  background-position-x: 0%;
}

.pp_coalition_block.pp_british {
  background-position-x: 50%;
}

.pp_coalition_block.pp_russian {
  background-position-x: 100%;
}

.pp_army {
  background-image: url("img/armies.webp");
  background-size: 400% 100%;
  background-repeat: no-repeat;
  height: 40px;
  width: 25px;
  z-index: 1;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.pp_army.pp_temporary,
.pp_road.pp_temporary {
  opacity: 0.5;
}

.pp_army.pp_selectable,
.pp_road.pp_selectable {
  filter: drop-shadow(2px 0px 0px yellow) drop-shadow(-2px 0px 0px yellow) drop-shadow(0px 2px 0px yellow) drop-shadow(0px -2px 0px yellow);
}

.pp_army.pp_selectable:hover,
.pp_army.pp_selected,
.pp_road.pp_selectable:hover,
.pp_road.pp_selected {
  filter: drop-shadow(2px 0px 0px blue) drop-shadow(-2px 0px 0px blue) drop-shadow(0px 2px 0px blue) drop-shadow(0px -2px 0px blue);
  cursor: pointer;
}

.pp_army.pp_afghan {
  background-position-x: 0%;
}

.pp_army.pp_british {
  background-position-x: 33.33333%;
}

.pp_army.pp_russian {
  background-position-x: 100%;
}

.pp_army.pp_neutral {
  background-position-x: 66.66667%;
}

.pp_road {
  background-image: url("img/roads.webp");
  background-size: 400% 100%;
  background-repeat: no-repeat;
  height: 27px;
  width: 40px;
  z-index: 1;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.pp_road.pp_afghan {
  background-position-x: 0%;
}

.pp_road.pp_british {
  background-position-x: 33.33333%;
}

.pp_road.pp_russian {
  background-position-x: 100%;
}

.pp_road.pp_neutral {
  background-position-x: 66.66667%;
}

.pp_cylinder {
  background-image: url("img/cylinders.webp");
  background-size: 500% 100%;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  z-index: 1;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.pp_cylinder.pp_selectable {
  filter: drop-shadow(2px 0px 0px yellow) drop-shadow(-2px 0px 0px yellow) drop-shadow(0px 2px 0px yellow) drop-shadow(0px -2px 0px yellow);
}

.pp_cylinder.pp_selectable:hover,
.pp_cylinder.pp_selected {
  filter: drop-shadow(2px 0px 0px blue) drop-shadow(-2px 0px 0px blue) drop-shadow(0px 2px 0px blue) drop-shadow(0px -2px 0px blue);
  cursor: pointer;
}

.pp_cylinder.pp_player_color_98B3C0 {
  background-position-x: 25%;
}

.pp_cylinder.pp_player_color_B9B6B1 {
  background-position-x: 50%;
}

.pp_cylinder.pp_player_color_DFCFB6 {
  background-position-x: 100%;
}

.pp_cylinder.pp_player_color_C19B9E {
  background-position-x: 75%;
}

.pp_cylinder.pp_player_color_807F7F {
  background-position-x: 0%;
}

#pp_market_board {
  background-image: url("img/paxpamir_market.jpg");
  background-size: 1000px 492px;
  background-repeat: no-repeat;
  grid-column: 1/span 1;
  grid-row: span 1;
  width: 1000px;
  box-shadow: 1px 1px 5px #000;
  height: 492px;
  position: relative;
}

.pp_market {
  width: 150px;
  height: 209px;
  /* background-color: red; */
  position: absolute;
  /* border: 1px blue solid; */
}

.pp_market_rupees {
  width: 120px;
  height: 50px;
  left: 8px;
  top: 52px;
  position: absolute;
  /* border: 2px black solid; */
  /* z-index: 1; */
}

.pp_spy_zone {
  width: 140px;
  height: 30px;
  left: 8px;
  top: 78px;
  position: absolute;
  /* background-color: purple; */
  /* border: 2px black solid; */
  /* z-index: 10; */
}

#pp_active_events_container {
  display: flex;
  flex-direction: column;
  min-height: 280px;
  margin-bottom: 15px;
  background-color: darkgray;
}

#pp_active_events_title {
  margin-left: 220px;
}

#pp_player_hand_title {
  margin-left: 220px;
}

#pp_active_events {
  flex-grow: 1;
  margin: 10px 20px;
}

.pp_card_in_zone {
  width: 150px;
  height: 209px;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px -1px #000;
  border-radius: 10px;
}

.pp_card_select_side {
  width: 150px;
  height: 209px;
  border-radius: 10px;
  border: 4px dashed yellow;
  box-sizing: border-box;
}

.pp_card_select_side:hover,
.pp_card_select_side.pp_selected {
  border-color: blue !important;
  cursor: pointer;
}

.pp_card {
  background-repeat: no-repeat;
  border: 1px black solid;
}

.pp_card_action {
  /* box-shadow: 0px 0px 0px 2px blue !important; */
  border-radius: 4px;
  position: absolute;
  width: 32px;
  height: 32px;
}

.pp_card_action.pp_selectable {
  box-shadow: 0px 0px 0px 2px yellow !important;
  cursor: pointer !important;
}

.pp_card_action.pp_selected {
  box-shadow: 0px 0px 0px 2px blue !important;
}

.pp_card_action.pp_selectable:hover {
  box-shadow: 0px 0px 0px 2px blue !important;
}

.pp_card.pp_selectable {
  /* border: 2px blue solid; */
  cursor: pointer !important;
  box-shadow: 0px 0px 0px 4px yellow !important;
}

.pp_card.pp_selectable:hover {
  box-shadow: 0px 0px 0px 4px blue !important;
}

.pp_card.pp_selected {
  cursor: pointer;
  box-shadow: 0px 0px 0px 4px blue !important;
}

/* .pp_selected {
	cursor: pointer;
	box-shadow: 0px 0px 0px 4px base.$selected-color !important;
} */
.pp_discard {
  /* opacity: 0.5; */
  cursor: pointer !important;
  margin-top: -16px;
}

.pp_card_in_court:hover,
.pp_card_in_court:active {
  z-index: 100 !important;
  /* border: 2px blue solid; */
}

.pp_tax_counter {
  color: blue;
  font-size: xx-large;
  font-weight: 700;
  text-shadow: -1px -1px 0px rgb(255, 255, 255), 1px 1px 0px rgb(255, 255, 255), -1px 1px 0px rgb(255, 255, 255), 1px -1px 0px rgb(255, 255, 255);
}

.pp_rupee {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  z-index: 1;
  filter: drop-shadow(rgba(0, 0, 0, 0.5) 2px 2px 2px);
}

.pp_rupee.pp_selectable,
.pp_player_board_rupee.pp_selectable {
  cursor: pointer !important;
  box-shadow: 0px 0px 0px 3px yellow !important;
}

.pp_rupee.pp_selectable:hover,
.pp_player_board_rupee.pp_selectable:hover,
.pp_rupee.pp_selected,
.pp_player_board_rupee.pp_selected {
  cursor: pointer !important;
  box-shadow: 0px 0px 0px 3px blue !important;
}

.pp_rupee_inner {
  background-size: 1100% 100%;
  background-position-x: 100%;
  background-image: url("img/actions.webp");
  width: 100%;
  height: 100%;
}

.pp_keyword_token {
  width: 20px;
  height: 20px;
  background-image: url("img/tokens.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  top: 4px;
  pointer-events: none;
}

.pp_region_icon {
  background-image: url("img/region_icons.webp");
  background-size: 600% 100%;
}

.pp_herat_icon,
.pp_herat.pp_region_icon {
  background-position-x: 0%;
}

.pp_kabul_icon,
.pp_kabul.pp_region_icon {
  background-position-x: 20%;
}

.pp_kandahar_icon,
.pp_kandahar.pp_region_icon {
  background-position-x: 40%;
}

.pp_persia_icon,
.pp_persia.pp_region_icon {
  background-position-x: 60%;
}

.pp_punjab_icon,
.pp_punjab.pp_region_icon {
  background-position-x: 80%;
}

.pp_transcaspia_icon,
.pp_transcaspia.pp_region_icon {
  background-position-x: 100%;
}

/* BUTTONS */
#afghan_button {
  background-color: #5fc89e;
}

#british_button {
  background-color: #eb97d1;
}

#russian_button {
  background-color: #f3f35a;
}

.loyalty_button {
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.6), 1px 1px 0px rgba(0, 0, 0, 0.6), -1px 1px 0px rgba(0, 0, 0, 0.6), 1px -1px 0px rgba(0, 0, 0, 0.6);
}

/* Blue */
.pp_player_button.pp_player_color_98B3C0 {
  background-color: #98b3c0;
}

/* Gray */
.pp_player_button.pp_player_color_B9B6B1 {
  background-color: #b9b6b1;
}

/* Yellow / tan */
.pp_player_button.pp_player_color_DFCFB6 {
  background-color: #dfcfb6;
}

/* Red */
.pp_player_button.pp_player_color_C19B9E {
  background-color: #c19b9e;
}

/* Black */
.pp_player_button.pp_player_color_807F7F {
  background-color: #807f7f;
}

.pp_player_button {
  border: 1px solid black;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.6), 1px 1px 0px rgba(0, 0, 0, 0.6), -1px 1px 0px rgba(0, 0, 0, 0.6), 1px -1px 0px rgba(0, 0, 0, 0.6);
}

/* ------- CARDS START ------- */
.pp_card_1 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 0%;
  background-position-y: 0%;
}

.pp_card_2 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 11.1111111111%;
  background-position-y: 0%;
}

.pp_card_3 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 22.2222222222%;
  background-position-y: 0%;
}

.pp_card_4 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 33.3333333333%;
  background-position-y: 0%;
}

.pp_card_5 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 44.4444444444%;
  background-position-y: 0%;
}

.pp_card_6 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 55.5555555556%;
  background-position-y: 0%;
}

.pp_card_7 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 66.6666666667%;
  background-position-y: 0%;
}

.pp_card_8 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 77.7777777778%;
  background-position-y: 0%;
}

.pp_card_9 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 88.8888888889%;
  background-position-y: 0%;
}

.pp_card_10 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 100%;
  background-position-y: 0%;
}

.pp_card_11 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 0%;
  background-position-y: 16.6666666667%;
}

.pp_card_12 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 11.1111111111%;
  background-position-y: 16.6666666667%;
}

.pp_card_13 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 22.2222222222%;
  background-position-y: 16.6666666667%;
}

.pp_card_14 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 33.3333333333%;
  background-position-y: 16.6666666667%;
}

.pp_card_15 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 44.4444444444%;
  background-position-y: 16.6666666667%;
}

.pp_card_16 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 55.5555555556%;
  background-position-y: 16.6666666667%;
}

.pp_card_17 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 66.6666666667%;
  background-position-y: 16.6666666667%;
}

.pp_card_18 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 77.7777777778%;
  background-position-y: 16.6666666667%;
}

.pp_card_19 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 88.8888888889%;
  background-position-y: 16.6666666667%;
}

.pp_card_20 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 100%;
  background-position-y: 16.6666666667%;
}

.pp_card_21 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 0%;
  background-position-y: 33.3333333333%;
}

.pp_card_22 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 11.1111111111%;
  background-position-y: 33.3333333333%;
}

.pp_card_23 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 22.2222222222%;
  background-position-y: 33.3333333333%;
}

.pp_card_24 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 33.3333333333%;
  background-position-y: 33.3333333333%;
}

.pp_card_25 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 44.4444444444%;
  background-position-y: 33.3333333333%;
}

.pp_card_26 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 55.5555555556%;
  background-position-y: 33.3333333333%;
}

.pp_card_27 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 66.6666666667%;
  background-position-y: 33.3333333333%;
}

.pp_card_28 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 77.7777777778%;
  background-position-y: 33.3333333333%;
}

.pp_card_29 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 88.8888888889%;
  background-position-y: 33.3333333333%;
}

.pp_card_30 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 100%;
  background-position-y: 33.3333333333%;
}

.pp_card_31 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 0%;
  background-position-y: 50%;
}

.pp_card_32 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 11.1111111111%;
  background-position-y: 50%;
}

.pp_card_33 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 22.2222222222%;
  background-position-y: 50%;
}

.pp_card_34 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 33.3333333333%;
  background-position-y: 50%;
}

.pp_card_35 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 44.4444444444%;
  background-position-y: 50%;
}

.pp_card_36 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 55.5555555556%;
  background-position-y: 50%;
}

.pp_card_37 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 66.6666666667%;
  background-position-y: 50%;
}

.pp_card_38 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 77.7777777778%;
  background-position-y: 50%;
}

.pp_card_39 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 88.8888888889%;
  background-position-y: 50%;
}

.pp_card_40 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 100%;
  background-position-y: 50%;
}

.pp_card_41 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 0%;
  background-position-y: 66.6666666667%;
}

.pp_card_42 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 11.1111111111%;
  background-position-y: 66.6666666667%;
}

.pp_card_43 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 22.2222222222%;
  background-position-y: 66.6666666667%;
}

.pp_card_44 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 33.3333333333%;
  background-position-y: 66.6666666667%;
}

.pp_card_45 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 44.4444444444%;
  background-position-y: 66.6666666667%;
}

.pp_card_46 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 55.5555555556%;
  background-position-y: 66.6666666667%;
}

.pp_card_47 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 66.6666666667%;
  background-position-y: 66.6666666667%;
}

.pp_card_48 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 77.7777777778%;
  background-position-y: 66.6666666667%;
}

.pp_card_49 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 88.8888888889%;
  background-position-y: 66.6666666667%;
}

.pp_card_50 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 100%;
  background-position-y: 66.6666666667%;
}

.pp_card_51 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 0%;
  background-position-y: 83.3333333333%;
}

.pp_card_52 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 11.1111111111%;
  background-position-y: 83.3333333333%;
}

.pp_card_53 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 22.2222222222%;
  background-position-y: 83.3333333333%;
}

.pp_card_54 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 33.3333333333%;
  background-position-y: 83.3333333333%;
}

.pp_card_55 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 44.4444444444%;
  background-position-y: 83.3333333333%;
}

.pp_card_56 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 55.5555555556%;
  background-position-y: 83.3333333333%;
}

.pp_card_57 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 66.6666666667%;
  background-position-y: 83.3333333333%;
}

.pp_card_58 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 77.7777777778%;
  background-position-y: 83.3333333333%;
}

.pp_card_59 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 88.8888888889%;
  background-position-y: 83.3333333333%;
}

.pp_card_60 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 100%;
  background-position-y: 83.3333333333%;
}

.pp_card_61 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 0%;
  background-position-y: 100%;
}

.pp_card_62 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 11.1111111111%;
  background-position-y: 100%;
}

.pp_card_63 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 22.2222222222%;
  background-position-y: 100%;
}

.pp_card_64 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 33.3333333333%;
  background-position-y: 100%;
}

.pp_card_65 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 44.4444444444%;
  background-position-y: 100%;
}

.pp_card_66 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 55.5555555556%;
  background-position-y: 100%;
}

.pp_card_67 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 66.6666666667%;
  background-position-y: 100%;
}

.pp_card_68 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 77.7777777778%;
  background-position-y: 100%;
}

.pp_card_69 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 88.8888888889%;
  background-position-y: 100%;
}

.pp_card_70 {
  background-image: url("img/cards1.webp");
  background-size: 1000% 700%;
  background-position-x: 100%;
  background-position-y: 100%;
}

.pp_card_71 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 0%;
  background-position-y: 0%;
}

.pp_card_72 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 11.1111111111%;
  background-position-y: 0%;
}

.pp_card_73 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 22.2222222222%;
  background-position-y: 0%;
}

.pp_card_74 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 33.3333333333%;
  background-position-y: 0%;
}

.pp_card_75 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 44.4444444444%;
  background-position-y: 0%;
}

.pp_card_76 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 55.5555555556%;
  background-position-y: 0%;
}

.pp_card_77 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 66.6666666667%;
  background-position-y: 0%;
}

.pp_card_78 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 77.7777777778%;
  background-position-y: 0%;
}

.pp_card_79 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 88.8888888889%;
  background-position-y: 0%;
}

.pp_card_80 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 100%;
  background-position-y: 0%;
}

.pp_card_81 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 0%;
  background-position-y: 25%;
}

.pp_card_82 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 11.1111111111%;
  background-position-y: 25%;
}

.pp_card_83 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 22.2222222222%;
  background-position-y: 25%;
}

.pp_card_84 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 33.3333333333%;
  background-position-y: 25%;
}

.pp_card_85 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 44.4444444444%;
  background-position-y: 25%;
}

.pp_card_86 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 55.5555555556%;
  background-position-y: 25%;
}

.pp_card_87 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 66.6666666667%;
  background-position-y: 25%;
}

.pp_card_88 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 77.7777777778%;
  background-position-y: 25%;
}

.pp_card_89 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 88.8888888889%;
  background-position-y: 25%;
}

.pp_card_90 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 100%;
  background-position-y: 25%;
}

.pp_card_91 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 0%;
  background-position-y: 50%;
}

.pp_card_92 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 11.1111111111%;
  background-position-y: 50%;
}

.pp_card_93 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 22.2222222222%;
  background-position-y: 50%;
}

.pp_card_94 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 33.3333333333%;
  background-position-y: 50%;
}

.pp_card_95 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 44.4444444444%;
  background-position-y: 50%;
}

.pp_card_96 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 55.5555555556%;
  background-position-y: 50%;
}

.pp_card_97 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 66.6666666667%;
  background-position-y: 50%;
}

.pp_card_98 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 77.7777777778%;
  background-position-y: 50%;
}

.pp_card_99 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 88.8888888889%;
  background-position-y: 50%;
}

.pp_card_100 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 100%;
  background-position-y: 50%;
}

.pp_card_101 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 0%;
  background-position-y: 75%;
}

.pp_card_102 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 11.1111111111%;
  background-position-y: 75%;
}

.pp_card_103 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 22.2222222222%;
  background-position-y: 75%;
}

.pp_card_104 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 33.3333333333%;
  background-position-y: 75%;
}

.pp_card_105 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 44.4444444444%;
  background-position-y: 75%;
}

.pp_card_106 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 55.5555555556%;
  background-position-y: 75%;
}

.pp_card_107 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 66.6666666667%;
  background-position-y: 75%;
}

.pp_card_108 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 77.7777777778%;
  background-position-y: 75%;
}

.pp_card_109 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 88.8888888889%;
  background-position-y: 75%;
}

.pp_card_110 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 100%;
  background-position-y: 75%;
}

.pp_card_111 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 0%;
  background-position-y: 100%;
}

.pp_card_112 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 11.1111111111%;
  background-position-y: 100%;
}

.pp_card_113 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 22.2222222222%;
  background-position-y: 100%;
}

.pp_card_114 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 33.3333333333%;
  background-position-y: 100%;
}

.pp_card_115 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 44.4444444444%;
  background-position-y: 100%;
}

.pp_card_116 {
  background-image: url("img/cards2.webp");
  background-size: 1000% 500%;
  background-position-x: 55.5555555556%;
  background-position-y: 100%;
}

.pp_card_back {
  background-size: 1000% 500%;
  background-image: url("img/cards2.webp");
  background-position-x: 66.6666666667%;
  background-position-y: 100%;
}

/* ------- CARDS END ------- */

/*# sourceMappingURL=paxpamir.css.map */
