@use '../base';

/* ------- MAP AND REGIONS ------- */

#pp_map {
  --mapScale: var(--adjustedLeftColumnScale);
  --tokenScale: var(--adjustedLeftColumnScale);
  background-image: url('img/paxpamir_board.jpg');
  height: calc(var(--mapScale) * 581px);
  width: calc(var(--mapScale) * 1000px);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 1px 1px 5px #000;
}

#pp_map_areas {
  position: absolute;
  left: calc(var(--mapScale) * 91px);
  top: calc(var(--mapScale) * 89px);
  height: calc(var(--mapScale) * 402px);
  width: calc(var(--mapScale) * 819px);
  /* background-color: blue; */
}


#pp_map_areas.pp_selectable {
  z-index: 50;
}

#pp_map_areas_borders_regions {
  position: absolute;
  width: calc(var(--mapScale) * 819px);
  height: calc(var(--mapScale) * 400px);
  left: calc(var(--mapScale) * 92px);
  top: calc(var(--mapScale) * 90px);
}

#pp_map_areas_borders_regions.pp_selectable {
  z-index: 50;
}

.pp_region {
  fill: transparent;
  transform: scale(var(--mapScale));
}

.pp_region.pp_selectable {
  fill: base.$selectable-color;
  fill-opacity: 15%;
  stroke: base.$selectable-color;
  stroke-width: 4;
  cursor: pointer;
  z-index: 50;
}

.pp_region.pp_selected {
  fill: base.$selected-color;
  fill-opacity: 25%;
  stroke: base.$selected-color;
  stroke-width: 3;
  cursor: pointer;
  z-index: 50;
}

.pp_region.pp_selectable:hover {
  fill: base.$selected-color;
  stroke: base.$selected-color;
}

.pp_location {
  position: absolute !important;
}

.pp_favored_suit {
  height: calc(var(--mapScale) * 54px);
  width: calc(var(--mapScale) * 26px);
  position: absolute;
  box-sizing: border-box;
}

#pp_favored_suit_political {
  top: calc(var(--mapScale) * 116px);
  left: calc(var(--mapScale) * 40px);
}

#pp_favored_suit_intelligence {
  top: calc(var(--mapScale) * 197px);
  left: calc(var(--mapScale) * 40px);
}

#pp_favored_suit_economic {
  top: calc(var(--mapScale) * 278px);
  left: calc(var(--mapScale) * 40px);
}

#pp_favored_suit_military {
  top: calc(var(--mapScale) * 361px);
  left: calc(var(--mapScale) * 40px);
}

.pp_vp_track {
  width: calc(var(--mapScale) * 50px);
  height: calc(var(--mapScale) * 50px);
  position: absolute !important;
}

.pp_position_ruler_token {
  width: calc(var(--mapScale) * 50px);
  height: calc(var(--mapScale) * 54px);
  position: absolute;
}

#pp_position_ruler_token_herat {
  top: calc(var(--mapScale) * 323px);
  left: calc(var(--mapScale) * 394px);
}

#pp_position_ruler_token_kabul {
  top: calc(var(--mapScale) * 120px);
  left: calc(var(--mapScale) * 594px);
}

#pp_position_ruler_token_kandahar {
  top: calc(var(--mapScale) * 373px);
  left: calc(var(--mapScale) * 648px);
}

#pp_position_ruler_token_persia {
  top: calc(var(--mapScale) * 363px);
  left: calc(var(--mapScale) * 163px);
}

#pp_position_ruler_token_punjab {
  top: calc(var(--mapScale) * 252px);
  left: calc(var(--mapScale) * 831px);
}

#pp_position_ruler_token_transcaspia {
  top: calc(var(--mapScale) * 110px);
  left: calc(var(--mapScale) * 207px);
}

.pp_location.pp_selectable {
  cursor: pointer !important;
  box-shadow: 0px 0px 0px 4px base.$selectable-color !important;
}

.pp_location.pp_selectable:hover {
  box-shadow: 0px 0px 0px 4px base.$selected-color !important;
}

.pp_location.pp_selected {
  cursor: pointer;
  box-shadow: 0px 0px 0px 4px base.$selected-color !important;
}

#pp_herat_armies {
  top: calc(var(--mapScale) * 380px);
  left: calc(var(--mapScale) * 320px);
  height: calc(var(--mapScale) * 80px);
  width: calc(var(--mapScale) * 190px);
}

#pp_kabul_armies {
  top: calc(var(--mapScale) * 180px);
  left: calc(var(--mapScale) * 520px);
  height: calc(var(--mapScale) * 40px);
  width: calc(var(--mapScale) * 190px);
}

#pp_kandahar_armies {
  top: calc(var(--mapScale) * 420px);
  left: calc(var(--mapScale) * 580px);
  height: calc(var(--mapScale) * 40px);
  width: calc(var(--mapScale) * 160px);
}

#pp_persia_armies {
  top: calc(var(--mapScale) * 420px);
  left: calc(var(--mapScale) * 100px);
  height: calc(var(--mapScale) * 60px);
  width: calc(var(--mapScale) * 160px);
}

#pp_punjab_armies {
  top: calc(var(--mapScale) * 300px);
  left: calc(var(--mapScale) * 800px);
  height: calc(var(--mapScale) * 160px);
  width: calc(var(--mapScale) * 100px);
}

#pp_transcaspia_armies {
  top: calc(var(--mapScale) * 220px);
  left: calc(var(--mapScale) * 100px);
  height: calc(var(--mapScale) * 40px);
  width: calc(var(--mapScale) * 190px);
}

#pp_herat_tribes {
  top: calc(var(--mapScale) * 320px);
  left: calc(var(--mapScale) * 320px);
  height: calc(var(--mapScale) * 40px);
  width: calc(var(--mapScale) * 190px);
}

#pp_kabul_tribes {
  top: calc(var(--mapScale) * 100px);
  left: calc(var(--mapScale) * 520px);
  height: calc(var(--mapScale) * 40px);
  width: calc(var(--mapScale) * 190px);
}

#pp_kandahar_tribes {
  top: calc(var(--mapScale) * 360px);
  left: calc(var(--mapScale) * 580px);
  height: calc(var(--mapScale) * 40px);
  width: calc(var(--mapScale) * 160px);
}

#pp_persia_tribes {
  top: calc(var(--mapScale) * 360px);
  left: calc(var(--mapScale) * 100px);
  height: calc(var(--mapScale) * 40px);
  width: calc(var(--mapScale) * 160px);
}

#pp_punjab_tribes {
  top: calc(var(--mapScale) * 240px);
  left: calc(var(--mapScale) * 800px);
  height: calc(var(--mapScale) * 40px);
  width: calc(var(--mapScale) * 100px);
}

#pp_transcaspia_tribes {
  top: calc(var(--mapScale) * 120px);
  left: calc(var(--mapScale) * 100px);
  height: calc(var(--mapScale) * 40px);
  width: calc(var(--mapScale) * 190px);
}

/* Borders */
#pp_herat_kabul_border {
  top: calc(var(--mapScale) * 230px);
  left: calc(var(--mapScale) * 420px);
  height: calc(var(--mapScale) * 80px);
  width: calc(var(--mapScale) * 110px);
}

#pp_herat_kandahar_border {
  top: calc(var(--mapScale) * 340px);
  left: calc(var(--mapScale) * 525px);
  height: calc(var(--mapScale) * 140px);
  width: calc(var(--mapScale) * 40px);
}

#pp_herat_transcaspia_border {
  top: calc(var(--mapScale) * 230px);
  left: calc(var(--mapScale) * 280px);
  height: calc(var(--mapScale) * 100px);
  width: calc(var(--mapScale) * 130px);
}

#pp_herat_persia_border {
  top: calc(var(--mapScale) * 340px);
  left: calc(var(--mapScale) * 270px);
  height: calc(var(--mapScale) * 140px);
  width: calc(var(--mapScale) * 40px);
}

#pp_kabul_kandahar_border {
  top: calc(var(--mapScale) * 290px);
  left: calc(var(--mapScale) * 560px);
  height: calc(var(--mapScale) * 40px);
  width: calc(var(--mapScale) * 160px);
}

#pp_kabul_punjab_border {
  top: calc(var(--mapScale) * 100px);
  left: calc(var(--mapScale) * 770px);
  height: calc(var(--mapScale) * 110px);
  width: calc(var(--mapScale) * 100px);
}

#pp_kabul_transcaspia_border {
  top: calc(var(--mapScale) * 89px);
  left: calc(var(--mapScale) * 410px);
  height: calc(var(--mapScale) * 134px);
  width: calc(var(--mapScale) * 40px);
}

#pp_kandahar_punjab_border {
  top: calc(var(--mapScale) * 360px);
  left: calc(var(--mapScale) * 750px);
  height: calc(var(--mapScale) * 120px);
  width: calc(var(--mapScale) * 40px);
}

#pp_persia_transcaspia_border {
  top: calc(var(--mapScale) * 290px);
  left: calc(var(--mapScale) * 100px);
  height: calc(var(--mapScale) * 40px);
  width: calc(var(--mapScale) * 150px);
}
