@use 'sass:math';
/* ------- UNDO TURN ------- */

/* Cancelled notification messages */
.log.cancel {
  color: #c62828 !important;
  text-decoration: line-through;
}

.log.cancel.no_undo_logs {
  display: none !important;
}

/* Desktop logs */
.log.cancel .roundedbox {
  background-color: rgba(240, 186, 117, 0.6) !important;
}

/* Mobile logs */
.log.cancel.roundedbox {
  background-color: #ef9a9a;
}

/* ------- LOG TOKENS ------- */



.pp_log_token {
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
  position: relative;
  vertical-align: middle;
}

.pp_region_icon {
  height: calc(var(--tokenScale) * 25px);
  width: calc(var(--tokenScale) * 25px);
}

// .pp_log_token.pp_log_token_rupee {
//   background-size: 1100% 100%;
//   background-position-x: 100%;
//   background-image: url('img/actions.webp');
//   width: 25px;
//   height: 25px;
//   border-radius: 50%;
//   background-repeat: no-repeat;
// }

.log > .roundedbox,
.log > .roundedboxinner {
  --tokenScale: 1;

  .pp_log_token {
    top: -2px;
    margin-top: 2px;
  }

  .pp_coalition_block_side[data-type="army"] {
    --tokenScale: 0.75;
    top: -4px;
    margin-top: 4px;
  }

  .pp_coalition_block_side[data-type='road'] {
    --tokenScale: 1;
  }

  .pp_card_side {
    --cardScale: var(--logCardScale);
    margin-top: calc(var(--logCardScale) * 6px);
  }

  .pp_card_side.pp_small {
    --cardScale: 0.15;
  }
 
  .pp_region_icon {
    --tokenScale: 1;
  }

  .pp_cylinder_side {
    --tokenScale: 1;
  }

  .pp_rupee_side {
    --tokenScale: 0.5;
    top: -2px;
    margin-top: 2px;
  }
}

#pagemaintitletext,
#gameaction_status {
  --tokenScale: 1;

  .pp_log_token {
    top: -3px;
    margin-top: 3px;
  }

  .pp_rupee_side {
    --tokenScale: 0.5;
  }

  .pp_coalition_block_side {
    --tokenScale: 0.75;
  }

  .pp_coalition_block_side[data-type='road'] {
    --tokenScale: 1;
  }

  .pp_cylinder_side {
    --tokenScale: 1;
  }

  .pp_card_side {
    display: none;
  }

  br {
    display: none;
  }

  .pp_log_token.pp_region_icon {
    --tokenScale: 1;
  }
}


.pp_log_token.pp_leverage {
  --tokenScale: 1;
  background-image: url('img/impact_icons.webp');
  background-size: 1500% 100%;
  height: calc(var(--tokenScale) * 25px);
  width: calc(var(--tokenScale) * 25px);
  background-position-x: math.div(4, 14) * 100%;
  background-repeat: no-repeat;
}

.pp_log_token.pp_loyalty_icon.pp_afghan, .pp_log_token.pp_loyalty_icon_black.pp_afghan {
  height: calc(var(--tokenScale) * 20px);
  width: calc(var(--tokenScale) * 38px);
  padding-bottom: 0px;
}

.pp_log_token.pp_loyalty_icon.pp_british, .pp_log_token.pp_loyalty_icon_black.pp_british {
  height: calc(var(--tokenScale) * 20px);
  width: calc(var(--tokenScale) * 34px);
  padding-bottom: 0px;
}

.pp_log_token.pp_loyalty_icon.pp_russian, .pp_log_token.pp_loyalty_icon_black.pp_russian {
  height: calc(var(--tokenScale) * 20px);
  width: calc(var(--tokenScale) * 35px);
  padding-bottom: 0px;
}


.pp_log_token.pp_road {
  margin-bottom: -5px;
}

.pp_log_token.pp_cylinder {
  --tokenScale: 1;
  top: -2px;
  margin-top: 2px;
  // margin-bottom: -5px;
}

.pp_log_token.pp_impact_icon_suit {
  height: calc(var(--tokenScale) * 30px);
  width: calc(var(--tokenScale) * 30px);
  background-size: contain;
  background-repeat: no-repeat;
}

.pp_impact_icon_suit.economic {
  background-image: url('img/impact_icons.webp');
  background-size: 1500% 100%;
  background-position-x: math.div(10, 14) * 100%;
}

.pp_impact_icon_suit.military {
  background-image: url('img/impact_icons.webp');
  background-size: 1500% 100%;
  background-position-x: math.div(12, 14) * 100%;
}

.pp_impact_icon_suit.political {
  background-image: url('img/impact_icons.webp');
  background-size: 1500% 100%;
  background-position-x: math.div(13, 14) * 100%;
}

.pp_impact_icon_suit.intelligence {
  background-image: url('img/impact_icons.webp');
  background-size: 1500% 100%;
  background-position-x: math.div(11, 14) * 100%;
}
