/* ------- UNDO TURN ------- */

/* Cancelled notification messages */
.log.cancel {
  color: #c62828 !important;
  text-decoration: line-through;
}

/* Desktop logs */
.log.cancel .roundedbox {
  background-color: rgba(240, 186, 117, 0.6) !important;
}

/* Mobile logs */
.log.cancel.roundedbox {
  background-color: #ef9a9a;
}


/* ------- LOG TOKENS ------- */

.pp_log_token {
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}

.pp_log_token.pp_log_token_rupee {
  background-image: url("img/rupee.svg");
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  border-radius: 50%;
  margin-bottom: -5px;
  background-repeat: no-repeat;
}

.pp_log_token.pp_leverage {
  background-image: url('img/impact_leverage.svg');
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  margin-bottom: -5px;
}

.pp_log_token.pp_region_icon {
  width: 15px;
  height: 15px;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  margin-bottom: -2px;
  margin-top: 5px;
}

.pp_log_token.pp_loyalty_icon.pp_afghan {
  height: 20px;
  width: 38px;
  padding-bottom: 0px;
}

.pp_log_token.pp_loyalty_icon.pp_british {
  height: 20px;
  width: 34px;
  padding-bottom: 0px;
}

.pp_log_token.pp_loyalty_icon.pp_russian {
  height: 20px;
  width: 35px;
  padding-bottom: 0px;
}

.pp_log_token.pp_card {
  height: 30px;
  width: 22px;
  background-size: 22px 30px;
  border-radius: 2px !important;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.4) !important;
  margin-bottom: -5px;
}

.pp_log_token.pp_card.pp_large {
  display: inline-block;
  width: 75px;
  height: 104px;
  background-size: 75px 104px;
  border-radius: 5px !important;
  box-shadow: 2.5px 2.5px 2.5px 0px rgba(0,0,0,0.4) !important;
  margin-top: 2px;
  margin-bottom: 0px;
}

.pp_log_token.pp_army {
  background-size: contain;
  background-repeat: no-repeat;
  height: 30px;
  width: 19px;
  z-index: 1;
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.5));
  margin-bottom: -5px;
}

.pp_log_token.pp_road {
  margin-bottom: -5px;
}

.pp_log_token.pp_cylinder {
  margin-bottom: -5px;
}

.pp_log_token.pp_impact_icon_suit {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: -7px;
}

.pp_impact_icon_suit.economic {
  background-image: url('img/impact_suit_economic.svg');
}

.pp_impact_icon_suit.military {
  background-image: url('img/impact_suit_military.svg');
}

.pp_impact_icon_suit.political {
  background-image: url('img/impact_suit_political.svg');
}

.pp_impact_icon_suit.intelligence {
  background-image: url('img/impact_suit_intelligence.svg');
}