@use 'sass:math';
@use '../base';

.pp_wakhan_deck_container {
  display: flex;
  padding-left: 10px;
  z-index: 1;
}

.pp_wakhan_tableau_left {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

#pp_wakhan_deck {
  margin-right: 10px;
}

.pp_player_to_left,
.pp_player_to_right {
  box-sizing: border-box;
  width: 12px;
  display: flex;
  flex-direction: column;
}

.pp_player_to_left {
  justify-content: center;
}

.pp_player_to_right {
  justify-content: space-between;
}

.pp_player_color_block {
  width: 100%;
  box-sizing: border-box;
}

.pp_player_to_right > .pp_player_color_block {
  height: 25%;
  border-left: 1px solid;
}

.pp_player_to_right > .pp_player_color_block:nth-child(1) {
  border-bottom: 1px solid;
}

.pp_player_to_right > .pp_player_color_block:nth-child(2) {
  border-top: 1px solid;
}

.pp_player_to_left > .pp_player_color_block {
  height: 50%;
  border-right: 1px solid;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.pp_player_hand {
  display: flex;
  flex-direction: column;
  background-color: ivory;
  padding-bottom: 4px;
}

.pp_player_hand_cards {
  flex-grow: 1;
  margin: 10px 20px;
  min-height: calc(var(--cardScale) * 209px);
}

.pp_player_events_container {
  height: calc(var(--cardScale) * 209px);
  padding-left: 8px;
  margin-bottom: 8px;
  margin-top: calc(var(--cardScale) * -209px);
  z-index: 0;
}

#pp_player_tableaus {
  --cardInCourtScale: 1;
  --tokenScale: min(1, var(--rightColumnScale));
  --cardScale: var(--rightColumnScale) * var(--cardInCourtScale);
  min-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.pp_player_tableau {
  position: relative;
  box-shadow: 1px 1px 5px #000;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.pp_player_tableau_right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-bottom: 8px;
}

.pp_tableau_inner_container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

/* Blue */
.pp_player_tableau.pp_player_color_blue,
.pp_player_color_block[data-color='blue'] {
  background-color: base.$blue-player-background-color; //  #98B3C0;
}

/* Gray */
.pp_player_tableau.pp_player_color_gray,
.pp_player_color_block[data-color='gray'] {
  background-color: base.$gray-player-background-color; // #B9B6B1;
}

/* Yellow / tan */
.pp_player_tableau.pp_player_color_yellow,
.pp_player_color_block[data-color='yellow'] {
  background-color: base.$yellow-player-background-color; // #DFCFB6;
}

/* Red */
.pp_player_tableau.pp_player_color_red,
.pp_player_color_block[data-color='red'] {
  background-color: base.$red-player-background-color; // #C19B9E;
}

/* Black */
.pp_player_tableau.pp_player_color_black,
.pp_player_color_block[data-color='black'] {
  background-color: base.$black-player-background-color; // #807F7F;
}

/* Purple */
.pp_player_tableau.pp_player_color_purple,
.pp_player_color_block[data-color='purple'] {
  background-color: base.$purple-player-background-color; // #C3B1D6;
}

.pp_tableau_inner_right {
  flex-grow: 1;
}

.pp_tableau_inner_left {
  min-width: calc(var(--tokenScale) * 77px);
  width: calc(var(--tokenScale) * 77px);
  margin-right: calc(var(--tokenScale) * 7px);
  margin-left: calc(var(--tokenScale) * 16px);
}

.pp_tableau_left {
  width: calc(var(--tokenScale) * 210px);
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
}

.pp_player_tableau_court_size,
.pp_player_hand_size {
  margin-top: auto;
  align-self: flex-end;
  margin-right: calc(var(--rightColumnScale) * 8px);
  font-weight: bold;
  font-size: medium;
  cursor: default;
}

.pp_card_count {
  margin-right: 2px;
}

.pp_card_limit {
  margin-left: 2px;
}

.pp_prizes {
  position: relative;
  left: calc(var(--cardScale) * 30px);
  width: calc(var(--cardScale) * 150px);
  height: calc(var(--cardScale) * 209px);
  transition: height 2s margin-bottom 2s;

  .pp_card {
    transform: rotate(180deg);
    .card-side {
      box-shadow: rgba(0, 0, 0, 0.1) calc(var(--cardScale) * -5px) calc(var(--cardScale) * -5px) calc(var(--cardScale) * 5px) 0px !important;
    }
  }

  .pp_card:nth-child(n + 2) {
    margin-top: calc(var(--cardScale) * -199px);
  }
}

.pp_loyalty_dial_section {
  min-height: calc(var(--tokenScale) * 204px);
}

.pp_loyalty_dial_container {
  position: relative;
  width: calc(var(--tokenScale) * 204px);
  height: calc(var(--tokenScale) * 204px);
  border-radius: 50%;
  margin: calc(var(--tokenScale) * 5px);
  box-shadow: 2px 2px 5px -1px #000;
  border: calc(var(--tokenScale) * 1px) solid black;
}

.pp_loyalty_dial {
  background-image: url('img/loyalty_dial.png');
  border-radius: 50%;
  width: calc(var(--tokenScale) * 204px);
  height: calc(var(--tokenScale) * 203px);
  position: absolute;
  background-size: 100% 100%;
}

.pp_loyalty_dial.pp_afghan {
  transform: rotate(0deg);
  transition: transform 1s;
}

.pp_loyalty_dial.pp_british {
  transform: rotate(120deg);
  transition: transform 1s;
}

.pp_loyalty_dial.pp_russian {
  transform: rotate(240deg);
  transition: transform 1s;
}

.pp_loyalty_dial_cover {
  background-image: url('img/loyalty_dials.png');
  background-size: 500% 100%;
  width: calc(var(--tokenScale) * 204px);
  height: calc(var(--tokenScale) * 160px);
  position: absolute;
  background-repeat: no-repeat;
  margin-top: calc(var(--tokenScale) * 44px);
}

.pp_gift {
  border-radius: 50%;
  position: absolute;
  width: calc(var(--tokenScale) * 40px);
  height: calc(var(--tokenScale) * 40px);
  z-index: 1;
}

.pp_wakhan_gift {
  background-image: url('img/gifts.webp');
  border-radius: 50%;
  background-size: 600% 100%;
  width: 40px;
  height: 40px;
  width: calc(var(--tokenScale) * 40px);
  height: calc(var(--tokenScale) * 40px);
  z-index: 1;
}

#pp_wakhan_gifts {
  display: flex;
  flex-direction: row;
  width: calc(var(--tokenScale) * 150px);
  height: calc(var(--tokenScale) * 45px);
  margin-left: 10px;
  justify-content: space-evenly;
}

.pp_wakhan_gift_2 {
  background-position: 60%;
}

.pp_wakhan_gift_4 {
  background-position: 80%;
}

.pp_wakhan_gift_6 {
  background-position: 100%;
}

.pp_gift.pp_selectable {
  box-shadow: 0px 0px 0px 3px base.$selectable-color !important;
  cursor: pointer !important;
}

.pp_gift.pp_selected,
.pp_gift.pp_selectable:hover {
  box-shadow: 0px 0px 0px 3px base.$selected-color !important;
}

.pp_gift_zone {
  width: calc(var(--tokenScale) * 40px);
  height: calc(var(--tokenScale) * 40px);
  margin-top: calc(var(--tokenScale) * 4px);
}

.pp_gift_2 {
  left: calc(var(--tokenScale) * 17px);
  top: calc(var(--tokenScale) * 78px);
}

.pp_gift_4 {
  left: calc(var(--tokenScale) * 29px);
  top: calc(var(--tokenScale) * 119px);
}

.pp_gift_6 {
  left: calc(var(--tokenScale) * 64px);
  top: calc(var(--tokenScale) * 144px);
}

/* Blue */
.pp_loyalty_dial_cover.pp_player_color_blue {
  background-position-x: 25%;
}

/* Gray */
.pp_loyalty_dial_cover.pp_player_color_gray {
  background-position-x: 50%;
}

/* Yellow / tan */
.pp_loyalty_dial_cover.pp_player_color_yellow {
  background-position-x: 100%;
}

/* Red */
.pp_loyalty_dial_cover.pp_player_color_red {
  background-position-x: 75%;
}

/* Black */
.pp_loyalty_dial_cover.pp_player_color_black {
  background-position-x: 0%;
}

.pp_court {
  /* margin: 10px 20px; */
  flex-grow: 1;
  min-height: calc(var(--cardScale) * 209px);
  justify-content: flex-start !important;
}

.pp_cylinders {
  gap: calc(var(--rightColumnScale) * 4px) !important;
}

.pp_bottom_court {
  margin: 0px 20px 15px 20px;
  display: flex;
  flex-direction: row;
}

.pp_ruler_tokens_player {
  flex-grow: 1;
  margin: 8px;
}

.pp_tableau_title {
  font-weight: bold;
  word-wrap: break-word;
  margin: calc(var(--tokenScale) * 10px);
  margin-right: calc(var(--tokenScale) * 126px + 94px);
  text-align: center;
}

.pp_player_tableau_title {
  font-weight: bold;
  word-wrap: break-word;
  margin: calc(var(--tokenScale) * 10px);
  margin-right: calc(var(--tokenScale) * 126px);
  flex-grow: 1;
  text-align: center;
}

.pp_player_tableau_title_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pp_player_tableau_icons {
  --tokenScale: 1;
  --rightColumnScale: 1;
  width: calc(var(--rightColumnScale) * 94px);
  display: flex;
  flex-direction: row;
}

.pp_card_icon_tableau {
  height: calc(var(--tokenScale) * 44px);
  width: calc(var(--tokenScale) * 32px);
  background-size: 1000% 500%;
  background-image: url('img/cards2.webp');
  background-position-x: (calc(2 / 3)) * 100%;
  background-position-y: 100%;
  border-radius: 3px;
}

.pp_player_board {
  --tokenScale: 1;
}

.pp_player_hand_modal_content {
  min-height: 241px;
  box-sizing: border-box;
  background-color: white;
  padding: 16px;
  grid-gap: 16px;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 150px 150px 150px 150px 150px;
  grid-template-rows: 209px;
  .pp_card_side {
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  }
}

.pp_player_hand_popin {
  background-color: white;
  box-shadow: rgb(0, 0, 0) 1px 1px 5px;
  position: fixed;
  top: 10vh;
  min-width: 500px;

  .pp_player_hand_popin_closeicon {
    background-color: #a47a77;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -18px;
    right: -18px;
    font-size: 90%;
    color: white !important;
    border: 1px solid #dfbda8;

    &:hover {
      text-decoration: none;
      color: #ccc !important;
      transform: scale(1.1);
    }

    i {
      margin-top: -2px;
    }
  }

  h2 {
    text-align: center;
    font-size: large;
    font-weight: bold;
    margin: 0px;
    padding: 7px 0px;
    border-bottom: 1px solid black;
  }

  .reserve {
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
  }
}

/* Blue */
.pp_player_background_color_blue {
  background-color: base.$blue-player-background-color; //  #98B3C0;
}

/* Gray */
.pp_player_background_color_gray {
  background-color: base.$gray-player-background-color; // #B9B6B1;
}

/* Yellow / tan */
.pp_player_background_color_yellow {
  background-color: base.$yellow-player-background-color; // #DFCFB6;
}

/* Red */
.pp_player_background_color_red {
  background-color: base.$red-player-background-color; // #C19B9E;
}

/* Black */
.pp_player_background_color_black {
  background-color: base.$black-player-background-color; // #807F7F;
}
