@use '../base';

.pp_player_hand {
  display: flex;
  flex-direction: column;
  min-height: 280px;
  margin-bottom: 15px;
  background-color: ivory;
}

.pp_player_hand_cards {
  flex-grow: 1;
  margin: 10px 20px;
}

#pp_player_tableaus {
  grid-column: span 1;
  grid-row: span 4;
  min-height: 300px;
  display: flex;
  flex-direction: column;
}

.pp_player_tableau {
  /* box-shadow: rgb(0 0 0) 2px 2px 8px; */
  /* position: relative; */
  display: flex;
  flex-direction: row;
  min-height: 270px;
  margin-bottom: 15px;
  padding-bottom: 16px;
}

.pp_player_tableau_right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* background-color: blue; */
}

.pp_tableau_inner_container {
  display: flex;
  flex-direction: row;
}

/* Blue */
.pp_player_tableau.pp_player_color_98B3C0 {
  background-color: #98B3C0;
}

/* Gray */
.pp_player_tableau.pp_player_color_B9B6B1 {
  background-color: #B9B6B1;
}

/* Yellow / tan */
.pp_player_tableau.pp_player_color_DFCFB6 {
  background-color: #DFCFB6;
}

/* Red */
.pp_player_tableau.pp_player_color_C19B9E {
  background-color: #C19B9E;
}

/* Black */
.pp_player_tableau.pp_player_color_807F7F {
  background-color: #807F7F;
}

.pp_tableau_inner_right {
  /* display: flex;
  flex-direction: column; */
  flex-grow: 1;
}

.pp_tableau_inner_left {
  /* background-color: purple; */
  width: 77px;
  margin-right: 7px;
  margin-left: 16px;
}

.pp_tableau_left {
  /* background-color: purple; */
  width: 210px;
  display: flex;
  flex-direction: column;
}

.pp_loyalty_dial_container {
  position: relative;
  width: 204px;
  height: 204px;
  /* background-color: white; */
  border-radius: 50%;
  margin: 5px;
  box-shadow: rgb(0 0 0 / 40%) 5px 5px 5px 0px;
}

.pp_loyalty_dial {
  background-image: url('img/loyalty_dial.png');
  background-color: white;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  background-size: 200px 200px;
  left: 2px;
  top: 2px;
}

.pp_loyalty_dial.pp_afghan {
  transform: rotate(0deg);
  transition: transform 2s;
}

.pp_loyalty_dial.pp_british {
  transform: rotate(120deg);
  transition: transform 2s;
}

.pp_loyalty_dial.pp_russian {
  transform: rotate(240deg);
  transition: transform 2s;
}

.pp_loyalty_dial_cover {
  background-size: 204px;
  width: 204px;
  height: 204px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: bottom;
}

.pp_gift {
  border-radius: 50%;
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 1;
}

.pp_gift.pp_selectable {
  box-shadow: 0px 0px 0px 3px base.$selectable-color !important;
  cursor: pointer !important;
}

.pp_gift.pp_selected, .pp_gift.pp_selectable:hover {
  box-shadow: 0px 0px 0px 3px base.$selected-color !important;
}

.pp_gift_zone {
  width: 40px;
  height: 40px;
}

.pp_gift_2 {
  left: 17px;
  top: 78px;
}

.pp_gift_4 {
  left: 29px;
  top: 119px;
}

.pp_gift_6 {
  left: 64px;
  top: 144px;
}

/* Blue */
.pp_loyalty_dial_cover.pp_player_color_98B3C0 {
  background-image: url('img/loyalty_dial_blue.png');
}

/* Gray */
.pp_loyalty_dial_cover.pp_player_color_B9B6B1 {
  background-image: url('img/loyalty_dial_gray.png');
}

/* Yellow / tan */
.pp_loyalty_dial_cover.pp_player_color_DFCFB6 {
  background-image: url('img/loyalty_dial_yellow.png');
}

/* Red */
.pp_loyalty_dial_cover.pp_player_color_C19B9E {
  background-image: url('img/loyalty_dial_red.png');
}

/* Black */
.pp_loyalty_dial_cover.pp_player_color_807F7F {
  background-image: url('img/loyalty_dial_black.png');
}

.pp_court {
  /* margin: 10px 20px; */
  flex-grow: 1;
  /* border: solid 2px white; */
}

.pp_cylinders {
  /* width: 400px; */
  /* margin: 0px 20px 15px 20px; */
}

.pp_bottom_court {
  margin: 0px 20px 15px 20px;
  display: flex;
  flex-direction: row;
}

.pp_ruler_tokens_player {
  flex-grow: 1;
  margin: 8px;
}

.pp_tableau_title {
  font-weight: bold;
  font-size: large;
  word-wrap: break-word;
  margin: 10px;
  margin-right: 220px;
}

.pp_player_tableau_title {
  font-weight: bold;
  font-size: large;
  word-wrap: break-word;
  margin: 10px;
  margin-right: 126px;
  flex-grow: 1;
}

.pp_player_tableau_title_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pp_player_tableau_icons {
  width: 94px;
  // background-color: purple;
  display: flex;
  flex-direction: row;
}

.pp_card_icon_tableau {
  height: 44px;
  width: 32px;
  background-size: 32px 44px;
  background-image: url(img/temp/cards/back.jpg);
  /* margin-left: 16px; */
  border-radius: 3px;
}

/* .pp_player_board {
  width: 600px;
  height: 137px;
  background-image: url('img/temp/player_board.png');
  background-size: 600px 685px;
  position: absolute;
  top: 20px;
  left: 20px;
  box-shadow: 1px 1px 4px;
  border-radius: 10px;
}
*/