#info_panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  #info_panel_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin: 8px 0;
  }
}

