@use 'sass:math';

.dijitTooltipContainer {
  padding: 8px !important;
  // background-color: yellow !important;
}

.pp_virtual_score_tooltip {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.pp_suit_tooltip {
  display: flex;
  flex-direction: row;
  width: 300px;

  .pp_tooltip_title {
    font-size: medium;
    font-style: italic;
  }

  .pp_suit_tooltip_content {
    display: flex;
    flex-direction: column;
    margin-left: 2px;
  }

  .pp_tooltip_text {
    text-align: left;
    font-size: small;
    
  }
}

.pp_tooltip_impact_icon_tribe {
  width: 25px;
  height: 25px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
}

.pp_tooltip_card_action {
  width: 40px;
  height: 40px;
  background-image: url('img/actions.webp');
  background-size: 1100% 100%;
  background-repeat: no-repeat;
}

.pp_card_action_betray {
  background-position-x: math.div(2, 10) * 100%;
}

.pp_card_action_battle.pp_rank_1 {
  background-position-x: 0%;
}

.pp_card_action_battle.pp_rank_2 {
  background-position-x: math.div(1, 10) * 100%;
}

.pp_card_action_build {
  background-position-x: math.div(3, 10) * 100%;
}

.pp_card_action_gift {
  background-position-x: math.div(4, 10) * 100%;
}

.pp_card_action_move.pp_rank_1 {
  background-position-x: math.div(5, 10) * 100%;
}

.pp_card_action_move.pp_rank_2 {
  background-position-x: math.div(6, 10) * 100%;
}

.pp_card_action_move.pp_rank_3 {
  background-position-x: math.div(7, 10) * 100%;
}

.pp_card_action_tax.pp_rank_1 {
  background-position-x: math.div(8, 10) * 100%;
}

.pp_card_action_tax.pp_rank_2 {
  // background-position-x: 100%;
  background-position-x: math.div(9, 10) * 100%;
}

.pp_tooltip_impact_icon {
  width: 40px;
  height: 40px;
  background-image: url('img/impact_icons.webp');
  background-size: 1500% 100%;
  background-repeat: no-repeat;
}

.pp_impact_icon_army_afghan {
  background-position-x: 0%;
}

.pp_impact_icon_army_british {
  background-position-x: math.div(1, 14) * 100%;
}

.pp_impact_icon_army_russian {
  background-position-x: math.div(3, 14) * 100%;
}

.pp_impact_icon_army_neutral {
  background-position-x: math.div(2, 14) * 100%;
}

.pp_impact_icon_leverage {
  background-position-x: math.div(4, 14) * 100%;
}

.pp_impact_icon_spy {
  background-position-x: math.div(9, 14) * 100%;
}

.pp_impact_icon_tribe {
  background-position-x: 100%;
}

.pp_impact_icon_economic_suit {
  background-position-x: math.div(10, 14) * 100%;
}

.pp_impact_icon_military_suit {
  background-position-x: math.div(12, 14) * 100%;
}

.pp_impact_icon_political_suit {
  background-position-x: math.div(13, 14) * 100%;
}

.pp_impact_icon_intelligence_suit {
  background-position-x: math.div(11, 14) * 100%;
}

.pp_impact_icon_road_afghan {
  background-position-x: math.div(5, 14) * 100%;
}

.pp_impact_icon_road_british {
  background-position-x: math.div(6, 14) * 100%;
}

.pp_impact_icon_road_russian {
  background-position-x: math.div(8, 14) * 100%;
}

.pp_impact_icon_road_neutral {
  background-position-x: math.div(7, 14) * 100%;
}

.pp_impact_icon_text {
  font-size: small;
  text-align: left;
}

// .pp_tooltip_description_text {
//   font-size: medium;
//   text-align: left;
// }

.pp_card_tooltip {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  // padding: 8px;
  padding-bottom: 8px;
  width: 440px;
  min-height: 372px;
  // background-color: purple;

  .pp_card_tooltip_inner_container {
    flex-grow: 1;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 274px;

    .pp_title {
      font-size: large;
      font-weight: bold;
      text-align: left;
      margin-bottom: 4px;
    }

    .pp_section_title {
      font-size: medium;
      font-weight: bold;
      text-align: left;
      margin-bottom: 4px;
      margin-top: 4px;
    }

    .pp_card_tooltip_section_container {
      display: flex;
      flex-direction: row;
      margin-bottom: 8px;

      .pp_card_tooltip_section_inner_container {
        min-width: 40px;
        margin-right: 8px;
        display: flex;
        justify-content: center;
      }
    }

    .pp_special_ability_text {
      text-align: left;
      font-size: small;
    }

    .pp_tooltip_text {
      text-align: left;
      font-size: small;
    }

    .pp_wakhan_action {
      border-radius: 4px;
      text-align: center;
      border: 2px solid #E5927A;
      margin-bottom: 8px;
      padding: 2px;
    }

    .pp_flavor_text {
      text-align: left;
      font-size: small;
      font-style: italic;
      // margin-top: auto;
      // padding-top: 4px;
      margin-bottom: 8px;
    }
  }
}

.pp_card_in_tooltip {
  // position: absolute;
  // bottom: 8px;
  // left: 290px;
  margin-right: -100px;
  margin-left: 8px;
  align-self: center;
  width: 240px;
  height: 334px;
  background-size: 240px 334px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  // transform: perspective(60em) rotateY(-10deg)// scale(.93);
  // animation: ea-wiggle 5s infinite alternate;
}

.pp_wakhan_card_in_tooltip {
  // position: absolute;
  // bottom: 8px;
  // left: 290px;
  margin-right: -100px;
  margin-left: 8px;
  align-self: center;
  width: 240px;
  height: 334px;
  background-size: 240px 334px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  // transform: perspective(60em) rotateY(-10deg)// scale(.93);
  // animation: ea-wiggle 5s infinite alternate;
  background-size: 800% 700%;
  background-image: url(img/wakhan_cards.webp);
  border: 1px solid black;
  box-sizing: border-box;
}

.pp_wakhan_icon {
  position: relative;
  width: 44px;
  height: 44px;
  background-image: url('img/wakhan_icons.webp');
  /* background-size: 132px 30px;  */
  /* background-position: -250px 0px; */
  background-size: 500% 100%;
  background-repeat: no-repeat;
}

.pp_wakhan_icon.pp_black_arrow {
  background-position-x: 0%;
}

.pp_wakhan_icon.pp_red_arrow {
  background-position-x: 100%;
}

.pp_wakhan_icon.pp_afghan {
  background-position-x: 25%;
}

.pp_wakhan_icon.pp_british {
  background-position-x: 50%;
}

.pp_wakhan_icon.pp_russian {
  background-position-x: 75%;
}