/**
 * All base constants to be used in other sass files.
 */

$afghan-color: #5fc89e;
$british-color: #eb97d1;
$russian-color: #f3f35a;

 /* --selectable-color: #DE9043; */
$selectable-color: yellow;
 /* --selected-color: #512D75; */
$selected-color: blue;
// player colors 
$blue-player-color: #98B3C0;
$red-player-color: #C19B9E;
$yellow-player-color: #DFCFB6;
$gray-player-color: #B9B6B1;
$black-player-color: #807F7F;
$purple-player-color: #C3B1D6;
