/**
 * All base constants to be used in other sass files.
 */

$afghan-color: #5fc89e;
$british-color: #eb97d1;
$russian-color: #f3f35a;
$whakan-color: #C3B1D6;
 /* --selectable-color: #DE9043; */
$selectable-color: yellow;
 /* --selected-color: #512D75; */
$selected-color: blue;