/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Paxpamir implementation : © Frans Bongers <fjmbongers@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * paxpamir.css
 *
 * PaxPamir stylesheet
 *
 */

@use 'sass:math';
@use 'base';
@use 'animation/animation';
@use 'card-managers/cards';
@use 'logs/logs';
@use 'Map/map';
@use 'PlayerManager/playerBoards';
@use 'PlayerManager/playerTableaus';
@use 'TooltipManager/tooltip';
@use 'info-panel/infoPanel';
@use 'settings/settingsModal';
@use 'token-managers/coalition-blocks';
@use 'token-managers/cylinders';
@use 'token-managers/favored-suit-marker';
@use 'token-managers/ruler-tokens';
@use 'token-managers/rupees';
@use 'nouislider';
@import '../node_modules/bga-cards/bga-cards';

html {
  background: url('') rgb(192, 192, 192);
}

// Disable drop shadow for safari
// html.dj_safari .game-element {
//   filter: none;
// } //

.player-board {
  background-color: antiquewhite;
}

/* Hide the "You may note something for next time..." popup that would appear. */
#turnBasedNotesIncent {
  display: none;
}

#pagemaintitle_wrap {
  flex-grow: 1;
}

/* Hide player is now online, player is now offline messages */
.notif_playerstatus {
  display: none !important;
}

#play_area_container {
  padding: 4px;
  grid-gap: 8px;
  display: grid;
  grid-template-columns: auto auto;
}

#play_area_container[data-two-columns='disabled'] {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#left_column {
  width: calc(var(--leftColumnScale) * 1000px);
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  // padding: 4px;
  gap: 8px;
  align-items: center;
  --cardScale: var(--leftColumnScale) * var(--mapSizeMultiplier);
  --tokenScale: var(--leftColumnScale) * var(--mapSizeMultiplier);
  --mapScale: var(--leftColumnScale) * var(--mapSizeMultiplier);
  --adjustedLeftColumnScale: calc(var(--leftColumnScale) * var(--mapSizeMultiplier));
}

/* ------- SUPPLY ------- */

#pp_supply {
  // grid-column: 1 / span 1;
  // grid-row: span 1;
  height: calc(var(--adjustedLeftColumnScale) * 241px);
  width: calc(var(--adjustedLeftColumnScale) * 1000px);
  // height: 241px;
  background-color: ivory;
  position: relative;
  /* width: 1000px; */
  box-shadow: 1px 1px 5px #000;
  // box-shadow: rgb(0 0 0) 2px 2px 8px;
  /* padding: 10px; */
  display: flex;
  padding: calc(var(--adjustedLeftColumnScale) * 16px);
  box-sizing: border-box;
}

#pp_dominant_coalition_banner {
  // height: 40px;
  height: calc(var(--adjustedLeftColumnScale) * 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--adjustedLeftColumnScale) * 18px);
  font-weight: bold;
}

#pp_dominant_coalition_banner.pp_afghan {
  background-color: base.$afghan-color;
}

#pp_dominant_coalition_banner.pp_british {
  background-color: base.$british-color;
}

#pp_dominant_coalition_banner.pp_russian {
  background-color: base.$russian-color;
}

#pp_coalition_blocks_container {
  // flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: auto;
  // width: 470px;
  width: calc(var(--adjustedLeftColumnScale) * 470px);
}

#pp_market_deck_container {
  display: flex;
}

#pp_temp_discarded_card {
  position: relative;
  // margin-right: 10px;
  margin-right: calc(var(--adjustedLeftColumnScale) * 10px);
  // width: 150px;
  // height: 209px;
  width: calc(var(--adjustedLeftColumnScale) * 150px);
  height: calc(var(--adjustedLeftColumnScale) * 209px);
}

#pp_pile_discarded_card {
  // top: -4px;
  top: 0px;
  // left: -5px;
  left: 0px;
  position: absolute;

  .pp_card {
    position: relative;
  }
}

#pp_discard_pile {
  // width: 149px;
  // height: 209px;
  width: calc(var(--adjustedLeftColumnScale) * 149px);
  height: calc(var(--adjustedLeftColumnScale) * 209px);
  box-sizing: border-box;
  margin-right: calc(var(--adjustedLeftColumnScale) * 10px); //10px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  #pp_discard_pile_title {
    align-self: center;
    font-size: calc(var(--adjustedLeftColumnScale) * 18px);
    margin-top: 2px;
  }


  .pp_discard_pile_border {
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    width: calc(var(--adjustedLeftColumnScale) * 149px);
    height: calc(var(--adjustedLeftColumnScale) * 209px);
    border-radius: calc(var(--adjustedLeftColumnScale) * 10px); //10px;
    border: calc(var(--adjustedLeftColumnScale) * 4px) dashed black;
  }
}

.pp_discarded_card {
  // width: 150px;
  // height: 209px;
  width: calc(var(--adjustedLeftColumnScale) * 150px);
  height: calc(var(--adjustedLeftColumnScale) * 209px);
  box-sizing: border-box;
  box-shadow: rgb(0, 0, 0) calc(var(--adjustedLeftColumnScale) * 2px) calc(var(--adjustedLeftColumnScale) * 2px) calc(var(--adjustedLeftColumnScale) * 5px)
    calc(var(--adjustedLeftColumnScale) * -1px);
  border-radius: calc(var(--adjustedLeftColumnScale) * 10px); //10px;
  background-repeat: no-repeat;
  border: calc(var(--adjustedLeftColumnScale) * 1px) black solid;
  opacity: 0;
}

// #pp_discard_pile > .pp_card {
//   top: -5px;
//   left: -5px;
//   position: absolute;
// }

#pp_market_deck {
  // width: 150px;
  // height: 209px;
  width: calc(var(--adjustedLeftColumnScale) * 150px);
  height: calc(var(--adjustedLeftColumnScale) * 209px);
  background-size: 1000% 500%;
  background-image: url('img/cards2.webp');
  background-position-x: calc(2 / 3) * 100%;
  background-position-y: 100%;
  box-shadow: calc(var(--adjustedLeftColumnScale) * 1px) calc(var(--adjustedLeftColumnScale) * 1px) calc(var(--adjustedLeftColumnScale) * 4px);
  border-radius: calc(var(--adjustedLeftColumnScale) * 10px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#pp_market_deck_stock {
  position: absolute;
}

.pp_deck_counters_container {
  --deckCounterScale: max(0.6, var(--adjustedLeftColumnScale));
  // height: 24px;
  // width: 90px;
  width: calc(var(--deckCounterScale) * 90px);
  height: calc(var(--deckCounterScale) * 24px);
  background-color: white;
  border-radius: calc(var(--deckCounterScale) * 8px);
  border: calc(var(--deckCounterScale) * 1px) solid rgb(0, 0, 0);
  justify-self: flex-end;
  margin-top: auto;
  // margin-bottom: -8px;
  display: flex;
  flex-direction: row;
  font-size: calc(var(--deckCounterScale) * 16px);
  font-weight: bold;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}

.pp_card_counter_container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .pp_card_counter {
    margin-left: calc(var(--deckCounterScale) * 2px);
  }
}



.pp_court_card_icon {
  background-position-x: calc(2 / 3) * 100%;
  background-position-y: 100%;
}

.pp_deck_counter_icon {
  // height: 20px;
  // width: 14px;
  width: calc(var(--adjustedLeftColumnScale) * 14px);
  height: calc(var(--adjustedLeftColumnScale) * 20px);
  background-image: url('img/cards2.webp');
  background-size: 1000% 500%;
  border-radius: calc(var(--adjustedLeftColumnScale) * 2px);
}

.pp_dominance_check_icon {
  background-position-x: math.div((101 - 71) % 10 * 100%, 9);
  background-position-y: math.div(math.floor(calc((101 - 71) / 10)) * 100%, 4);
}

.pp_coalition_blocks {
  box-sizing: border-box;
  // height: 40px;
  // width: 650px;
  width: calc(var(--tokenScale) * 650px);
  height: calc(var(--tokenScale) * 40px);
  /* border: 2px solid blue; */
  position: relative;
  gap: calc(var(--adjustedLeftColumnScale) * 8px) !important;
}

#pp_market_board {
  --tokenScale: var(--adjustedLeftColumnScale);
  background-image: url('img/paxpamir_market.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  // grid-column: 1 / span 1;
  // grid-row: span 1;
  height: calc(var(--adjustedLeftColumnScale) * 492px);
  width: calc(var(--adjustedLeftColumnScale) * 1000px);
  // width: 1000px;
  // box-shadow: rgb(0 0 0) 2px 2px 8px;
  box-shadow: 1px 1px 5px #000;
  // height: 492px;
  position: relative;
}

#pp_market_board_military_suit_icon {
  position: absolute;
  // top: 10px;
  // left: 18px;
  top: calc(var(--adjustedLeftColumnScale) * 10px);
  left: calc(var(--adjustedLeftColumnScale) * 18px);
}

.pp_military_cost_icon {
  background-image: url('img/military_suit_reminder.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  // width: 53px;
  // height: 35px;
  width: calc(var(--adjustedLeftColumnScale) * 53px);
  height: calc(var(--adjustedLeftColumnScale) * 35px);
  filter: drop-shadow(1px 0px 0px white) drop-shadow(-1px 0px 0px white) drop-shadow(0px 1px 0px white) drop-shadow(0px -1px 0px white);
  // filter: drop-shadow(2px 2px);
  /* text-shadow: 2px 0 2px hsla(0,0%,100%,.6), 0 -2px 2px hsla(0,0%,100%,.6), 0 2px 2px hsla(0,0%,100%,.6), -2px 0 2px hsla(0,0%,100%,*/
}

.pp_market {
  // width: 150px;
  // height: 209px;
  height: calc(var(--cardScale) * 209px);
  width: calc(var(--cardScale) * 150px);
  /* background-color: red; */
  position: absolute;
  /* border: 1px blue solid; */
}

.pp_market_rupees {
  // width: 120px;
  // height: 50px;
  // left: 8px;
  // top: 52px;
  height: calc(var(--cardScale) * 50px);
  width: calc(var(--cardScale) * 120px);
  left: calc(var(--cardScale) * 8px);
  top: calc(var(--cardScale) * 52px);
  position: absolute;
  /* border: 2px black solid; */
  /* z-index: 1; */
  // z-index: 11;

  .pp_rupee {
    z-index: 1;
  }

  .bga-animations_animated.pp_rupee {
    z-index: 11 !important;
  }

  .pp_rupee:nth-child(n + 2) {
    margin-left: calc(var(--tokenScale) * -30px);
  }
}

.pp_spy_zone {
  // width: 140px;
  // height: 30px;
  height: calc(var(--cardScale) * 30px);
  width: calc(var(--cardScale) * 140px);
  // left: 8px;
  // top: 78px;
  left: calc(var(--cardScale) * 8px);
  top: calc(var(--cardScale) * 78px);
  position: absolute;
  /* background-color: purple; */
  /* border: 2px black solid; */
  /* z-index: 10; */
}

#pp_active_events_container {
  // height: 209px;
  height: calc(var(--cardScale) * 209px);
  padding-left: 8px;
  // margin-bottom: -209px;
  margin-bottom: calc(var(--cardScale) * -209px);
  // transition: margin-bottom 1s ease 0s;
  // display: flex;
  // flex-direction: column;
  // min-height: 280px;
  // margin-bottom: 15px;
  // background-color: darkgray;
}

#pp_player_hand_title {
  // margin-left: 220px;
  margin-left: calc(var(--rightColumnScale) * 220px);
}

#pp_active_events {
  flex-grow: 1;
}

// TODO: we can just put this in pp_card?
.pp_card_in_zone {
  // width: 150px;
  // height: 209px;

  // width: calc(var(--cardScale) * 150px);
  // height: calc(var(--cardScale) * 209px);
  // box-sizing: border-box;
  // box-shadow: calc(var(--cardScale) * 2px) calc(var(--cardScale) * 2px) calc(var(--cardScale) * 5px) calc(var(--cardScale) * -1px) #000;
  // border-radius: 3%;
}

.pp_card_select_side {
  // width: 150px;
  // height: 209px;
  height: calc(var(--cardScale) * 209px);
  width: calc(var(--cardScale) * 150px);
  border-radius: calc(var(--cardScale) * 10px);
  border: calc(var(--cardScale) * 4px) dashed base.$selectable-color;
  box-sizing: border-box;
  box-shadow: none !important;
}

.pp_card_select:hover,
.pp_card_select.pp_selected {
  .pp_card_select_side {
    border-color: base.$selected-color !important;
    cursor: pointer;
  }
}

.pp_card_action {
  /* box-shadow: 0px 0px 0px 2px blue !important; */
  border-radius: calc(var(--cardScale) * 4px);
  position: absolute;
  width: calc(var(--cardScale) * 32px);
  height: calc(var(--cardScale) * 32px);
}

.pp_card_action.pp_selectable {
  box-shadow: 0px 0px 0px calc(var(--cardScale) * 2px) base.$selectable-color !important;
  cursor: pointer !important;
}

.pp_card_action.pp_selected {
  box-shadow: 0px 0px 0px calc(var(--cardScale) * 2px) base.$selected-color !important;
}

.pp_card_action.pp_selectable:hover {
  box-shadow: 0px 0px 0px calc(var(--cardScale) * 2px) base.$selected-color !important;
}

/* .pp_selected {
	cursor: pointer;
	box-shadow: 0px 0px 0px 4px base.$selected-color !important;
} */

.pp_discard {
  /* opacity: 0.5; */
  cursor: pointer !important;
  margin-top: calc(var(--cardScale) * -16px);
}

.pp_card_in_court:hover,
.pp_card_in_court:active {
  z-index: 100 !important;
  /* border: 2px blue solid; */
}

.pp_tax_counter {
  // color: white;
  color: base.$selected-color;
  font-size: xx-large;
  font-weight: 700;
  // text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.6), 1px 1px 0px rgba(0, 0, 0, 0.6), -1px 1px 0px rgba(0, 0, 0, 0.6), 1px -1px 0px rgba(0, 0, 0, 0.6);
  text-shadow: -1px -1px 0px rgba(255, 255, 255, 1), 1px 1px 0px rgba(255, 255, 255, 1), -1px 1px 0px rgba(255, 255, 255, 1),
    1px -1px 0px rgba(255, 255, 255, 1);
  // text-shadow: -2px -2px 0px base.$selected-color, 2px 2px 0px base.$selected-color, -2px 2px 0px base.$selected-color, 2px -2px 0px base.$selected-color;
  // text-shadow: -2px -2px 2px base.$selected-color, 2px 2px 2px base.$selected-color, -2px 2px 2px base.$selected-color, 2px -2px 2px base.$selected-color;
}

.pp_keyword_token {
  width: 20px;
  height: 20px;
  background-image: url('img/tokens.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  top: 4px;
  pointer-events: none;
}

.pp_region_icon {
  background-image: url('img/region_icons.webp');
  background-size: 600% 100%;
}

.pp_herat_icon,
.pp_herat.pp_region_icon {
  background-position-x: 0%;
}

.pp_kabul_icon,
.pp_kabul.pp_region_icon {
  background-position-x: 20%;
}

.pp_kandahar_icon,
.pp_kandahar.pp_region_icon {
  background-position-x: 40%;
}

.pp_persia_icon,
.pp_persia.pp_region_icon {
  background-position-x: 60%;
}

.pp_punjab_icon,
.pp_punjab.pp_region_icon {
  background-position-x: 80%;
}

.pp_transcaspia_icon,
.pp_transcaspia.pp_region_icon {
  background-position-x: 100%;
}

/* BUTTONS */

.pp_info_icon {
  background-color: white;
  box-sizing: border-box;
  // background-color: #a47a77;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 467px;
  top: 5px;
  // top: -18px;
  // right: -18px;
  font-size: 90%;
  color: #231f20 !important;
  border: 3px solid #231f20;

  &:hover {
    text-decoration: none;
    color: #231f20 !important;
    transform: scale(1.1);
    cursor: pointer;
  }

  i {
    font-size: 1.5em;
    // margin-top: -2px;
  }
}

#afghan_button {
  background-color: base.$afghan-color;
}

#british_button {
  background-color: base.$british-color;
}

#russian_button {
  background-color: base.$russian-color;
}

.loyalty_button {
  text-shadow: -1px -1px 0px #00000099, 1px 1px 0px#00000099, -1px 1px 0px #00000099, 1px -1px 0px #00000099;
}

/* Blue */
.pp_player_button.pp_player_color_blue {
  background-color: base.$blue-player-color; // #98b3c0;
}

/* Gray */
.pp_player_button.pp_player_color_gray {
  background-color: base.$gray-player-color; // #b9b6b1;
}

/* Yellow / tan */
.pp_player_button.pp_player_color_yellow {
  background-color: base.$yellow-player-color; // #dfcfb6;
}

/* Red */
.pp_player_button.pp_player_color_red {
  background-color: base.$red-player-color; // #c19b9e;
}

/* Black */
.pp_player_button.pp_player_color_black {
  background-color: base.$black-player-color; // #807f7f;
}

/* Purple */
.pp_player_button.pp_player_color_purple {
  background-color: base.$purple-player-color; // #C3B1D6;
}

.pp_player_button {
  border: 1px solid black;
  text-shadow: -1px -1px 0px #00000099, 1px 1px 0px#00000099, -1px 1px 0px #00000099, 1px -1px 0px #00000099;
}

/* ------- WAKHAN CARDS ------- */

.pp_wakhan_card {
  // width: 150px;
  // height: 209px;
  height: calc(var(--cardScale) * 209px);
  width: calc(var(--cardScale) * 150px);
  background-size: 800% 700%;
  background-image: url(img/wakhan_cards.webp);
  box-shadow: calc(var(--cardScale) * 1px) calc(var(--cardScale) * 1px) calc(var(--cardScale) * 4px);
  border-radius: calc(var(--cardScale) * 10px);
  border: calc(var(--cardScale) * 1px) solid black;
  box-sizing: border-box;
}

@for $i from 1 through 24 {
  .pp_wakhan_card_#{$i}_front {
    background-position-x: math.div((($i + 24 - 1) % 8 * 100%), 7);
    background-position-y: math.div(math.floor(calc(($i + 24 - 1) / 8)) * 100%, 6);
  }

  .pp_wakhan_card_#{$i}_back {
    background-position-x: math.div((($i - 1) % 8 * 100%), 7);
    background-position-y: math.div(math.floor(calc(($i - 1) / 8)) * 100%, 6);
  }
}

// @for $i from 71 through 116 {
//   .pp_card_#{$i} {
//     background-image: url('img/cards2.webp');
//     background-size: 1000% 500%;
//     background-position-x: math.div(($i - 71) % 10 * 100%, 9);
//     background-position-y: math.div(math.floor(calc(($i - 71) / 10)) * 100%, 4);
//   }
// }
